# Backend for Peaking Analysis Dashboard

In [10]:
#Import data science libraries
import pandas as pd
import numpy as np
import simplejson
#Calculate current year for use in peaking criteria 
from datetime import date
current_year = date.today().year
#Import libraries for sending email updates
import smtplib
from email.mime.text import MIMEText
#Set display options
pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.max_columns', 10000)
pd.set_option('display.max_rows',1000)

In [12]:
def read_in_data_from_2017_peaking_analysis(path):
    """
    Reads in data from 2017 peaking analysis and reshapes for use in programme.
    INPUT: Excel file (.xlsx)
    OUTPUT: Pandas DataFrame
    """
    df = pd.read_excel(path, sheet_name = 'Mastersheet', header = 2)
    df = df.iloc[0:80,0:51] #select relevant rows and columns 
    df.drop('Protocol', axis = 1, inplace = True) #drop protocol column 
    #df = df[df['Peaked? (Criteria 1, 2, 3 and 4 all met)']!='Do not use'] #filter out records marked as "do not use"
    df = df.iloc[0:80,0:31] #select relevant columns (ignore 'peaked criteria and helper columns')
    df = pd.melt(df, id_vars=["City", "Data Source"], var_name="Year", value_name="Emissions").sort_values(['City', 'Year']).reset_index(drop=True) #reshape dataframe
    df['Data Source'] = df['Data Source'].apply(clean_data_source) #clean data source columns [TEMPORARY FIX]
    df.dropna(subset=['Emissions'], inplace = True) #Drop rows where emissions is zero 
    return df

In [13]:
def clean_data_source(x):
    """
    Temporary fix while data sources are not updated in peaking analysis
    """
    if x == 'A':
        return 1
    if x == 'B':
        return 2
    if x == 'GHG' or x == 'CO2 only':
        return 7
    if pd.isnull(x):
        return 2
    if x == 2:
        return 1 
    else:
        return x

In [14]:
def read_in_data_from_gpc_tracker(path):
    """
    Reads in data from GPC Tracker and reformats for use in programme.
    INPUT: Excel file (.xlsx)
    OUTPUT: Pandas DataFrame
    """
    df = pd.read_excel(path, sheet_name = 'GPC data_Live', header = 2) #Read in gpc tracker data
    df = df[['Use for GPC Dashboard?', 'City', 'Year_calendar', 'BASIC']] #Select relevant columns 
    df = df[df['Use for GPC Dashboard?'] == 'Yes'].reset_index(drop=True) #Filter rows marked for use in GPC Dashboard
    df.rename(columns={'Year_calendar': 'Year', 'BASIC':'Emissions'}, inplace=True) #Rename to align with peaking analysis
    df['Data Source'] = 1 #Add data source column and code all data points as data source 1
    df.dropna(subset=['Emissions'], inplace = True) #Drop rows where emissions is zero 
    df = df[['City','Data Source','Year','Emissions']].sort_values(['City','Year']) #Reorder columns and sort
    return df

In [15]:
def join_data_from_peaking_analysis_and_gpc_tracker(df1, df2):
    """
    Combines data from 2017 Peaking Analysis and GPC Tracker into a single DataFrame and drops duplicate rows
    INPUT: 2 DataFrame
    OUTPUT: 1 DataFrame
    """
    df = df1.append(df2).drop_duplicates().sort_values(['City', 'Data Source', 'Year']).reset_index(drop=True) 
    df = df[df['City']!='Basel'] #Remove Basel from the DataFrame as it is no longer a C40 city
    return df

In [16]:
def calculate_peak_emissions(df, current_year):
    """
    Analyses city GHG emissions to determine if they have peaked
    INPUT: DataFrame containing peaking analysis and GPC Tracker GHG emissions
    OUTPUT: DataFrame with assessment of whether each city has peaked
    """
    
    def reshape_data(df):
        """
        Reshapes DataFrame so that each city and datasource has a unique row with years as a column header
        INPUT: DataFrame
        OUTPUT: Reshaped DataFrame
        """
        df = df.pivot_table(values='Emissions', index=['City','Data Source'], columns='Year', aggfunc='first').reset_index().fillna(0)
        df.columns.name = None #set columns index name to none 
        return df

    def calculate_peaking_parameters(df):
        """
        Caclulatea parameters used to assess whether city has peaked emissions
        INPUT: DataFrame
        OUTPUT: DataFrame with peakign parameters as 4 additional columns
        """
        cols = df.columns.difference(['City','Data Source'])
        df['Num data points'] = df[cols].gt(0).sum(axis=1)
        df['Max emissions'] = df[cols].max(axis =1)
        df['Max emissions year'] = df[cols].idxmax(axis =1)
        df['Recent emissions'] = df[cols].apply(lambda x: x.iloc[x.nonzero()].iloc[-1], axis=1)
        df['Recent emissions year'] = df[cols].apply(lambda x: x.iloc[x.nonzero()].index[-1], axis=1)
        return df
    
    def apply_peaking_criteria(df, current_year):
        """
        Calculates pearking criteria using peaking parameters
        INPUT: DataFrame
        OUTPUT: DataFrame with Boolean assessment for each peaking criteria
        """
        #Peaking Criteria 1: At least 3 years of data available?
        df['PC1'] = (current_year - df['Recent emissions year'] >= 3)
        #Peaking Criteria 2: Max emissions >5 years before recent inventory?
        df['PC2'] = (df['Recent emissions year'] - df['Max emissions year'] >= 5)
        #Peaking Criteria 3: Recent inventory < 5 years old
        df['PC3'] = (current_year - df['Recent emissions year'] <= 5)
        #Peaking Criteria 4: Max emissions >10% higher than recent inventory
        df['PC4'] = ((df['Max emissions']-df['Recent emissions'])/df['Recent emissions']) >= 0.1
        return df
    
    def calculate_peak_emissions_status(df):
        """
        Analyses peaking criteria to assess whether city has peaked
        INPUT: DataFrame
        OUTPUT: DataFrame with peaking assessment as additional columne
        """
        
        def f(x):
            if x['PC1'] & x['PC2'] & x['PC3'] & x['PC4']: #If all peaking criteria are TRUE returns 'PEAKED'
                return 'PEAKED'
            elif x['PC1'] & (not x['PC2']) & x['PC3'] & (not x['PC4']): #If first 3 peaking critiera are TRUE returns 'NOT PEAKED'
                return 'NOT PEAKED'
            else: #Otherwise returns 'CANNOT TELL'
                return 'UNKNOWN'
        
        df['Peak Status'] = df.apply(f, axis = 1) #Calculates columns by applying above function across rows 
        return df
        
    def rename_columns(df):
        """
        Renames columns for ease of understanding
        """
        df.rename(columns ={
            'PC1':'PC1: At least 3 year of years of data available',
            'PC2':'PC2: Max emissions >5 years before recent inventory',
            'PC3':'PC3: Recent inventory <5 years old',
            'PC4':'PC4: Max emissions <10% higher than recent inventory'},
            inplace = True)
        return df 
  
    df = reshape_data(df)
    df = calculate_peaking_parameters(df)
    df = apply_peaking_criteria(df, current_year)
    df = calculate_peak_emissions_status(df)
    df = rename_columns(df)
    return df

In [17]:
def select_duplicate_cities_to_use_in_dashboard(df):
    """
    Sorts input dataframe by city, peak status, number data points and data source and removes duplicates keeping the
    first record. Duplicate records are retained in this order: Status = PEAKED > Status = NOT PEAKED > Highest number
    data points > lowest numerical data source code. 

    INPUT: DataFrame 
    
    OUTPUT: DataFrame with sorted cities conaining NO duplicates for use in peaking analysis dashboard 

    """
    df['Peak Status'] = pd.Categorical(df['Peak Status'], ['PEAKED', 'NOT PEAKED', "UNKNOWN"]) #Make peak status a categorical variable
    df = df.sort_values(['City', 'Peak Status', 'Num data points', 'Data Source'], ascending = [True, True, False, True])

    #Initialise values for loop 
    ref_city = df['City'][0]
    df.loc[0, 'Use for dashboard?'] = 'Y'
    
    for index, row in df.iterrows(): #iterate through rows in DataFrame
        city = row['City']
        if city != ref_city:
            df.loc[index,'Use for dashboard?'] = 'Y'
            ref_city = city
        else:
            df.loc[index, 'Use for dashboard?'] = 'N'
    return df

In [18]:
def reshape_data_for_dashboard(df):
    """
    Reshapes data for use in the Qlik dashboatd
    INPUT: DataFrame (Years as rows)
    OUTPUT: DataFrame (Years as column)
    """
    df = df[df['Use for dashboard?'] == 'Y'] #filter rows to be used in dashboard 
    cols = df.columns.difference(['Num data points', 'Max emissions', 'Recent emissions', 'Recent emissions year', 'PC1: At least 3 year of years of data available', 'PC2: Max emissions >5 years before recent inventory', 'PC3: Recent inventory <5 years old', 'PC4: Max emissions <10% higher than recent inventory', 'Use for dashboard?'])
    df = df[cols] #Select columns for use in dashboard
    df = pd.melt(df, id_vars=["City", "Data Source", "Peak Status", "Max emissions year"], var_name="Year", value_name="Emissions").sort_values(['City', 'Year']).reset_index(drop=True)
    df['Peak year'] = df.apply(lambda x : 1 if x['Max emissions year'] == x['Year'] and x['Peak Status'] == 'PEAKED' else 0, axis=1)
    df.drop('Max emissions year', axis = 1, inplace = True)
    df = df[['City', 'Data Source', 'Year', 'Emissions', 'Peak Status', 'Peak year']]
    
    #def map_cities_to_regions():
        
    
    
    #def create_regional_rankings():
        
    
    return df

In [19]:
def generate_dataframes(path_1, path_2):
    """
    Generates DataFrames used in the programme by calling above functions
    INPUT: File paths to 2017 Peaking Analysis and GPC Tracker
    OUTPUT: Tuple of 6 DataFrames
    """
    df1 = read_in_data_from_2017_peaking_analysis(path_1)
    df2 = read_in_data_from_gpc_tracker(path_2)
    df3 = join_data_from_peaking_analysis_and_gpc_tracker(df1, df2)
    df4 = calculate_peak_emissions(df3,current_year)
    df5 = select_duplicate_cities_to_use_in_dashboard(df4)
    df6 = reshape_data_for_dashboard(df5)
    return (df1, df2, df3, df4, df5, df6)

In [20]:
def write_to_excel(results):
    """
    Writes dataframes to Excel
    INPUT: Tuple of 6 DataFrames
    OUTPUT: None
    """
    #Create a Pandas Excel writer using XlsxWriter as the engine
    writer = pd.ExcelWriter('/Users/oliverwills/desktop/peaking_emissions_dashboard_final.xlsx', engine='xlsxwriter')
    #Write each dataframe to a different worksheet
    results[4].to_excel(writer, sheet_name='MASTER_Peak_Emissions', index = False)
    results[5].to_excel(writer, sheet_name='DASHBOARD_Peak_Emissions', index = False)
    #Close the Pandas Excel writer and output the Excel file
    writer.save()

In [21]:
def run_programme(path_1, path_2):
    results = generate_dataframes(path_1, path_2)
    write_to_excel(results)
    return results

In [22]:
path_1 = '/Users/oliverwills/Box/C40 (internal)/Regions and Cities (internal)/M&P/04_Analytics/03_Other analytics/01_Peaking analysis/00_GCAS/00 Master_Peaking analysis data review_20180905 NR.xlsx'
path_2 = '/Users/oliverwills/Box/C40 (internal)/Regions and Cities (internal)/M&P/04_Analytics/00_Raw data/01_Emissions/Live tracker/01_GPC Inventory Tracker.xlsx'

In [23]:
results = run_programme(path_1, path_2)

In [24]:
results[0]

                City  Data Source  Year Emissions
25             Accra            1  2015   2321904
82             Amman            1  2014   7431422
84             Amman            1  2016   8015906
87         Amsterdam            2  1990   3011000
105        Amsterdam            2  2008   4008518
106        Amsterdam            2  2009   4045686
107        Amsterdam            2  2010   4026047
108        Amsterdam            2  2011   3979708
109        Amsterdam            2  2012   4072819
110        Amsterdam            2  2013   4044060
111        Amsterdam            2  2014   4015035
112        Amsterdam            2  2015   4136792
113        Amsterdam            2  2016   3948153
114        Amsterdam            2  2017   3932562
140           Athens            1  2014   5066334
141           Athens            1  2015   5054790
142           Athens            1  2016   4391579
145         Auckland            1  1990   5643291
164         Auckland            1  2009   7551989
165         Auckland            1  2010   7396110
166         Auckland            1  2011   7176723
167         Auckland            1  2012   7739018
168         Auckland            1  2013   7703362
169         Auckland            1  2014   7581652
170         Auckland            1  2015   7750281
191           Austin            5  2007  13037962
194           Austin            5  2010  14050168
197           Austin            5  2013  13739417
220          Bangkok            2  2007  42650000
226          Bangkok            2  2013  43870000
250        Barcelona            5  2008   4053766
252        Barcelona            5  2010   3894980
255        Barcelona            5  2013   3107591
256        Barcelona            5  2014   3329110
257        Barcelona            5  2015 999999999
262            Basel            2  1990   1108023
272            Basel            2  1995   1013924
282            Basel            2  2000    936802
301            Basel            2  2010    910689
305            Basel            2  2012    833146
309            Basel            2  2014    764522
313            Basel            2  2016    741614
319           Berlin            2  1990  30000000
320           Berlin            6  1990  29215000
322           Berlin            6  1991  29546000
324           Berlin            6  1992  26497000
326           Berlin            6  1993  27982000
328           Berlin            6  1994  26878000
330           Berlin            6  1995  25653000
332           Berlin            6  1996  26091000
334           Berlin            6  1997  25486000
336           Berlin            6  1998  24143000
338           Berlin            6  1999  25702000
339           Berlin            2  2000  25388000
340           Berlin            6  2000  25217000
341           Berlin            2  2001  25578000
342           Berlin            6  2001  25235000
343           Berlin            2  2002  25528000
344           Berlin            6  2002  23571000
345           Berlin            2  2003  24119000
346           Berlin            6  2003  26987000
347           Berlin            2  2004  23515000
348           Berlin            6  2004  23577000
349           Berlin            2  2005  21917000
350           Berlin            6  2005  22179000
351           Berlin            2  2006  22354000
352           Berlin            6  2006  22406000
353           Berlin            2  2007  19948000
354           Berlin            6  2007  20117000
355           Berlin            2  2008  20168000
356           Berlin            6  2008  20776000
357           Berlin            2  2009  20106000
358           Berlin            6  2009  20114000
359           Berlin            2  2010  21299000
360           Berlin            6  2010  22417000
361           Berlin            2  2011  19779000
362           Berlin            6  2011  20648000
363           Berlin            2  2012  20755000
364           Berlin            6  2012  20848000
365           Berlin            2  2013  20806000
366           Berlin            6  2013  21396000
367           Berlin            2  2014  19921107
368           Berlin            6  2014  20134000
370           Berlin            6  2015  19479000
395           Bogotá            2  2008  16279278
398           Bogotá            2  2011  15921690
399           Bogotá            2  2012  15757162
400           Bogotá            2  2013  16077577
401           Bogotá            2  2014  13217521
402           Bogotá            2  2015  12359324
403           Bogotá            2  2016  17672009
421           Boston            1  2005   7370738
422           Boston            1  2006   6699238
423           Boston            1  2007   7129359
424           Boston            1  2008   7003035
425           Boston            1  2009   6671842
426           Boston            1  2010   6872606
427           Boston            1  2011   6556710
428           Boston            1  2012   5907474
429           Boston            1  2013   6192661
430           Boston            1  2014   6287475
431           Boston            1  2015   6430052
432           Boston            1  2016   6116644
445     Buenos Aires            1  2000  11054983
446     Buenos Aires            1  2001  10617151
447     Buenos Aires            1  2002  10081817
448     Buenos Aires            1  2003  10703532
449     Buenos Aires            1  2004  11491393
450     Buenos Aires            1  2005  11439383
451     Buenos Aires            1  2006  11296765
452     Buenos Aires            1  2007  12549821
453     Buenos Aires            1  2008  12740364
454     Buenos Aires            1  2009  12295748
455     Buenos Aires            1  2010  12922438
456     Buenos Aires            1  2011  12791175
457     Buenos Aires            1  2012  13388555
458     Buenos Aires            1  2013  13532522
459     Buenos Aires            1  2014  12993346
460     Buenos Aires            1  2015  13113673
482        Cape Town            1  2008  20243557
486        Cape Town            1  2012  21914762
489        Cape Town            1  2015  21233880
490        Cape Town            1  2016  22525514
503          Caracas            5  2000   9864500
514          Caracas            5  2011  17213803
516          Caracas            5  2013  17424651
517          Caracas            5  2014  17621788
518          Caracas            5  2015  17774776
537         Changwon            2  2005   7509556
538         Changwon            2  2006   8101552
539         Changwon            2  2007   8134232
540         Changwon            2  2008   7617792
541         Changwon            2  2009   7604316
542         Changwon            2  2010   8289864
543         Changwon            2  2011   8670267
544         Changwon            2  2012   9244314
545         Changwon            2  2013   9268943
546         Changwon            2  2014   9982768
547         Changwon            2  2015  10048912
551          Chicago            1  1990  32300000
566          Chicago            1  2005  36700027
571          Chicago            1  2010  35021969
576          Chicago            1  2015  32651379
581       Copenhagen            2  1990   3362937
583       Copenhagen            2  1991   3874137
585       Copenhagen            2  1992   3387637
587       Copenhagen            2  1993   3435437
589       Copenhagen            2  1994   3626937
591       Copenhagen            2  1995   3443937
593       Copenhagen            2  1996   3359637
595       Copenhagen            2  1997   3068137
597       Copenhagen            2  1998   2908037
599       Copenhagen            2  1999   2803637
601       Copenhagen            2  2000   2885137
603       Copenhagen            2  2001   2860037
605       Copenhagen            2  2002   2832037
607       Copenhagen            2  2003   2785237
609       Copenhagen            2  2004   2749837
610       Copenhagen            2  2005   2358255
611       Copenhagen            2  2005   2476986
613       Copenhagen            2  2006   2762646
615       Copenhagen            2  2007   2705152
616       Copenhagen            2  2008   2460484
617       Copenhagen            2  2008   2389258
618       Copenhagen            2  2009   2587200
619       Copenhagen            2  2009   2573447
620       Copenhagen            2  2010   2513704
621       Copenhagen            2  2010   2523023
622       Copenhagen            2  2011   1807300
623       Copenhagen            2  2011   2133367
624       Copenhagen            2  2012   1807521
625       Copenhagen            2  2012   1958848
626       Copenhagen            2  2013   1879638
627       Copenhagen            2  2013   2035461
628       Copenhagen            2  2014   1644855
629       Copenhagen            2  2014   1788641
630       Copenhagen            2  2015   1468041
631       Copenhagen            2  2015   1569556
632       Copenhagen            2  2016   1574418
633       Copenhagen            2  2016   1716336
634       Copenhagen            2  2017   1376886
635       Copenhagen            2  2017   1486141
656         Curitiba            2  2008   3515890
661         Curitiba            2  2013   3036279
687           Durban            2  2010  25962074
688           Durban            2  2011  27649400
689           Durban            2  2012  29360395
691           Durban            2  2014  22587081
696       Heidelberg            2  1990    915000
717       Heidelberg            2  2011    879900
721       Heidelberg            2  2015    806000
743        Hong Kong            2  2008  41600000
744        Hong Kong            2  2009  42100000
745        Hong Kong            2  2010  40900000
746        Hong Kong            2  2011  42800000
747        Hong Kong            2  2012  43200000
749        Hong Kong            2  2014  44900000
771          Houston            2  2007  37031473
778          Houston            2  2014  33428301
802         Istanbul            2  2009  37197605
803         Istanbul            2  2010  43826098
804         Istanbul            2  2011  37534082
809         Istanbul            2  2016  52547639
827          Jakarta            5  2005  43860000
864     Johannesburg            1  2013  26220000
865     Johannesburg            1  2014  24716713
894            Lagos            1  2014  29426266
895            Lagos            1  2015  29333951
921             Lima            1  2012  13169413
924             Lima            1  2015  15789438
928           London            7  1990  45054297
938           London            7  2000  50313969
939           London            7  2001  48857930
940           London            7  2002  48934259
941           London            7  2003  49010588
942           London            7  2004  46557375
943           London            7  2005  46401043
944           London            7  2006  47638076
945           London            7  2007  46479046
946           London            7  2008  46672647
947           London            7  2009  42524657
948           London            7  2010  42622583
949           London            7  2011  38640372
950           London            7  2012  42323433
951           London            7  2013  40874984
952           London            7  2014  37943184
953           London            7  2015  33909295
957      Los Angeles            2  1990  54000000
958      Los Angeles            3  1990  36200000
997      Los Angeles            2  2010  38717974
1003     Los Angeles            2  2013  32289089
1004     Los Angeles            3  2013  27705381
1006     Los Angeles            3  2014  30746265
1008     Los Angeles            3  2015  30132518
1010     Los Angeles            3  2016  26687513
1015          Madrid            2  1990  12953000
1034          Madrid            2  1999   9105000
1036          Madrid            2  2000   9211000
1038          Madrid            2  2001   9061000
1040          Madrid            2  2002   9082000
1042          Madrid            2  2003   9180000
1044          Madrid            2  2004   9134000
1045          Madrid            2  2005  16035000
1046          Madrid            2  2005   9276000
1047          Madrid            2  2006  15840000
1048          Madrid            2  2006   9234000
1049          Madrid            2  2007  16123000
1050          Madrid            2  2007   9123000
1051          Madrid            2  2008  15212000
1052          Madrid            2  2008   9141000
1053          Madrid            2  2009  14086000
1054          Madrid            2  2009   8771000
1055          Madrid            2  2010  12655000
1056          Madrid            2  2010   8437000
1057          Madrid            2  2011  12774000
1058          Madrid            2  2011   7846000
1059          Madrid            2  2012  12867000
1060          Madrid            2  2012   7820000
1061          Madrid            2  2013  11416000
1062          Madrid            2  2013   7533000
1063          Madrid            2  2014  10996000
1064          Madrid            2  2014   7113000
1065          Madrid            2  2015  11189000
1067          Madrid            2  2016  10706000
1134       Melbourne            1  2005   4155556
1135       Melbourne            1  2005   4865011
1136       Melbourne            2  2005   6430000
1138       Melbourne            1  2006   4779855
1139       Melbourne            1  2006   5483774
1142       Melbourne            1  2007   4881420
1143       Melbourne            1  2007   5595093
1146       Melbourne            1  2008   4848989
1147       Melbourne            1  2008   5591681
1148       Melbourne            2  2008   4943000
1150       Melbourne            1  2009   4848127
1151       Melbourne            1  2009   5631847
1152       Melbourne            2  2009   4079000
1154       Melbourne            1  2010   5713905
1155       Melbourne            1  2010   6609780
1156       Melbourne            2  2010   3799000
1158       Melbourne            1  2011   4763764
1159       Melbourne            1  2011   5544947
1160       Melbourne            2  2011   5164000
1161       Melbourne            1  2012   6442240
1162       Melbourne            1  2012   4654120
1163       Melbourne            1  2012   5396658
1164       Melbourne            2  2012   5994000
1166       Melbourne            1  2013   4556557
1167       Melbourne            1  2013   5268025
1168       Melbourne            2  2013   5805437
1170       Melbourne            1  2014   4601746
1171       Melbourne            1  2014   5319010
1174       Melbourne            1  2015   4502505
1175       Melbourne            1  2015   5122471
1181       Melbourne            1  2017   4678193
1230     Mexico City            2  2010  26232831
1233     Mexico City            1  2012  30173487
1234     Mexico City            2  2012  30731000
1237     Mexico City            1  2014  30870170
1238     Mexico City            2  2014  23655110
1241     Mexico City            1  2016  32087694
1262           Milan            2  2005   7418000
1266           Milan            2  2009   6953817
1270           Milan            2  2013   5976779
1272           Milan            2  2015   5847833
1276        Montréal            1  1990  14324756
1299        Montréal            1  2013  10431943
1300        Montréal            1  2014  10384940
1329          Moscow            1  2014  43968815
1331          Moscow            1  2016  25680678
1332          Moscow            1  2017  26915654
1351     New Orleans            2  2007   4467896
1354     New Orleans            2  2010   4700403
1358     New Orleans            2  2014   3606199
1359     New Orleans            2  2015   3641144
1360     New Orleans            2  2016   3598537
1408   New York City            3  2005  55616688
1409   New York City            2  2005  61060000
1410   New York City            2  2005  61062452
1413   New York City            2  2006  62995119
1421   New York City            2  2009  51948000
1424   New York City            2  2010  54348841
1427   New York City            2  2011  53358868
1432   New York City            3  2013  48600872
1433   New York City            2  2013  45993429
1436   New York City            2  2014  49385508
1440   New York City            2  2015  52042167
1443   New York City            2  2016  51735403
1450            Oslo            2  1990   1165800
1455            Oslo            2  1995   1164800
1460            Oslo            2  2000   1257700
1465            Oslo            2  2005   1335800
1469            Oslo            2  2009   1299285
1471            Oslo            2  2011   1279798
1473            Oslo            2  2013   1452564
1475            Oslo            2  2015   1218494
1476            Oslo            2  2016   1125349
1493           Paris            3  2004   6259428
1498           Paris            3  2009   5890743
1503           Paris            3  2014   5489249
1508    Philadelphia            2  1990  21162789
1524    Philadelphia            2  2006  21383319
1528    Philadelphia            2  2010  20419485
1530    Philadelphia            2  2012  18992714
1532    Philadelphia            2  2014  18333254
1537        Portland            7  1990   8989869
1542        Portland            7  1995   9557844
1546        Portland            7  1999   9910230
1547        Portland            7  2000  10246023
1548        Portland            7  2001   9945747
1549        Portland            7  2002   9819570
1550        Portland            7  2003   9373404
1551        Portland            7  2004   8941723
1552        Portland            7  2005   8732937
1553        Portland            7  2006   9006661
1554        Portland            7  2007   8774222
1555        Portland            7  2008   8477030
1556        Portland            7  2009   8179069
1557        Portland            7  2010   7826522
1558        Portland            7  2011   7972367
1559        Portland            7  2012   7073275
1560        Portland            7  2013   7087933
1561        Portland            7  2014   7941981
1562        Portland            7  2015   7914050
1563        Portland            7  2016   7287988
1587           Quito            1  2011   5218318
1591           Quito            1  2015   5759189
1595  Rio de Janeiro            5  1990  10972000
1601  Rio de Janeiro            5  1996  12535000
1603  Rio de Janeiro            5  1998  12798000
1610  Rio de Janeiro            5  2005  11351700
1617  Rio de Janeiro            5  2012  22574735
1637            Rome            2  2003  10999517
1638            Rome            2  2004  11015993
1639            Rome            2  2005  10525029
1640            Rome            2  2006  11004789
1641            Rome            2  2007  10858237
1642            Rome            2  2008  10522353
1643            Rome            2  2009   9976129
1644            Rome            2  2010  10008879
1649            Rome            2  2015   8627180
1653       Rotterdam            2  1990  23700000
1672       Rotterdam            2  2009  27920000
1673       Rotterdam            2  2010  29608297
1674       Rotterdam            2  2011  29460000
1676       Rotterdam            2  2013  29550000
1677       Rotterdam            2  2014  28202000
1678       Rotterdam            2  2015  31512000
1679       Rotterdam            2  2016  34190633
1680       Rotterdam            2  2017  32203591
1682   San Francisco            7  1990   6201949
1683   San Francisco            3  1990   7975525
1685   San Francisco            3  1991   7988285
1687   San Francisco            3  1992   8001046
1689   San Francisco            3  1993   8013807
1691   San Francisco            3  1994   8026568
1693   San Francisco            3  1995   8039329
1695   San Francisco            3  1996   8052089
1697   San Francisco            3  1997   8064850

In [25]:
results[1]

                 City  Data Source  Year  Emissions
0               Accra            1  2015    2321904
1               Amman            1  2014    7431422
2           Amsterdam            1  2015    4804359
5              Athens            1  2014    4062001
4              Athens            1  2015    4012305
3              Athens            1  2016    3453312
13           Auckland            1  1990    5643291
12           Auckland            1  2009    7551989
11           Auckland            1  2010    7396110
10           Auckland            1  2011    7176723
9            Auckland            1  2012    7739018
8            Auckland            1  2013    7703362
7            Auckland            1  2014    7581652
6            Auckland            1  2015    7750281
15             Austin            1  2013   13001831
14             Austin            1  2016   12527277
16            Bangkok            1  2013   50360919
20          Barcelona            1  2013    2925663
19          Barcelona            1  2014    2667332
18          Barcelona            1  2015    2849197
17          Barcelona            1  2016    2815533
21              Basel            1  2014     825704
22             Bogotá            1  2012   12409483
34             Boston            1  2005    7370738
33             Boston            1  2006    6699238
32             Boston            1  2007    7129359
31             Boston            1  2008    7003035
30             Boston            1  2009    6671842
29             Boston            1  2010    6872606
28             Boston            1  2011    6556710
27             Boston            1  2012    5907474
26             Boston            1  2013    6192661
25             Boston            1  2014    6287475
24             Boston            1  2015    6430052
23             Boston            1  2016    6116644
50       Buenos Aires            1  2000   11054983
49       Buenos Aires            1  2001   10617151
48       Buenos Aires            1  2002   10081817
47       Buenos Aires            1  2003   10703532
46       Buenos Aires            1  2004   11491393
45       Buenos Aires            1  2005   11439383
44       Buenos Aires            1  2006   11296765
43       Buenos Aires            1  2007   12549821
42       Buenos Aires            1  2008   12740364
41       Buenos Aires            1  2009   12295748
40       Buenos Aires            1  2010   12922438
39       Buenos Aires            1  2011   12791175
38       Buenos Aires            1  2012   13388555
37       Buenos Aires            1  2013   13531292
36       Buenos Aires            1  2014   12928646
35       Buenos Aires            1  2015   13113673
53          Cape Town            1  2012   22146880
52          Cape Town            1  2015   21233878
51          Cape Town            1  2016   21509138
54            Chennai            1  2015   19317353
57            Chicago            1  2005   36700027
56            Chicago            1  2010   35021969
55            Chicago            1  2015   32651379
59         Copenhagen            1  2014    1727286
58         Copenhagen            1  2015    1514622
60           Curitiba            1  2013    4566805
61              Dubai            1  2016   48262139
62             Durban            1  2013   22679906
63              Hanoi            1  2015   15017375
64         Heidelberg            1  2015     967417
65   Ho Chi Minh City            1  2013   34436511
66          Hong Kong            1  2015   39841930
67            Houston            1  2014   33414017
68           Istanbul            1  2015   47532200
69            Jakarta            1  2014   56176142
70       Johannesburg            1  2014   24716713
71              Lagos            1  2015   29333951
73               Lima            1  2012   13169413
72               Lima            1  2015   15789438
75             London            1  2013   39825164
74             London            1  2015   33584111
79        Los Angeles            1  2013   27705381
78        Los Angeles            1  2014   30746265
77        Los Angeles            1  2015   30132518
76        Los Angeles            1  2016   26687513
82             Madrid            1  2013    9202396
81             Madrid            1  2014    9236196
80             Madrid            1  2015    9933819
83           Medellín            1  2015    3414204
85          Melbourne            1  2013    4556557
84          Melbourne            1  2014    4601746
88        Mexico City            1  2012   30173487
87        Mexico City            1  2014   30870170
86        Mexico City            1  2016   32087694
90              Milan            1  2013    6168887
89              Milan            1  2015    5965718
92           Montréal            1  2013   10197555
91           Montréal            1  2014   10384939
93        New Orleans            1  2014    3606199
95      New York City            1  2014   51310978
94      New York City            1  2016   50108475
96               Oslo            1  2013    1340422
99              Paris            1  2004    6259426
98              Paris            1  2009    5890744
97              Paris            1  2014    5489249
101      Philadelphia            1  2012   18487912
100      Philadelphia            1  2014   17355479
105          Portland            1  2013    5909785
104          Portland            1  2014    6561761
103          Portland            1  2015    6537609
102          Portland            1  2016    5929869
106             Quito            1  2015    5759189
107    Rio de Janeiro            1  2012   17006642
108              Rome            1  2015    9514765
109          Salvador            1  2013    3841163
112     San Francisco            1  2012    5492513
111     San Francisco            1  2015    5055885
110     San Francisco            1  2016    5108064
114           Seattle            1  2012    4365270
113           Seattle            1  2014    4401243
115             Seoul            1  2013   48184542
118         Stockholm            1  2012    2143441
117         Stockholm            1  2015    1796590
116         Stockholm            1  2016    1823388
130            Sydney            1  2005    4664247
129            Sydney            1  2006    4713890
128            Sydney            1  2007    4760918
127            Sydney            1  2008    4633197
126            Sydney            1  2009    4391650
125            Sydney            1  2010    4375855
124            Sydney            1  2011    4219687
123            Sydney            1  2012    4083823
122            Sydney            1  2013    3915533
121            Sydney            1  2014    3883369
120            Sydney            1  2015    3786087
119            Sydney            1  2016    3780388
131             Tokyo            1  2013   66081398
135           Toronto            1  2013   19364573
134           Toronto            1  2014   20043240
133           Toronto            1  2015   19235758
132           Toronto            1  2016   18078458
136           Tshwane            1  2014   27725965
147         Vancouver            1  2007    2854278
146         Vancouver            1  2008    2980427
145         Vancouver            1  2009    2990429
144         Vancouver            1  2010    2824060
143         Vancouver            1  2011    2904065
142         Vancouver            1  2012    2720679
141         Vancouver            1  2013    2613354
140         Vancouver            1  2014    2504194
139         Vancouver            1  2015    2452690
138         Vancouver            1  2016    2565158
137         Vancouver            1  2017    2698097
148            Venice            1  2016    3103390
149            Warsaw            1  2014   10121489
153    Washington, DC            1  2013    7673816
152    Washington, DC            1  2014    7749699
151    Washington, DC            1  2015    7857498
150    Washington, DC            1  2016    7196809
155          Yokohama            1  2013   20965649
154          Yokohama            1  2015   20960501

In [26]:
results[2]

                 City  Data Source  Year Emissions
0               Accra            1  2015   2321904
1               Amman            1  2014   7431422
2               Amman            1  2016   8015906
3           Amsterdam            1  2015   4804359
4           Amsterdam            2  1990   3011000
5           Amsterdam            2  2008   4008518
6           Amsterdam            2  2009   4045686
7           Amsterdam            2  2010   4026047
8           Amsterdam            2  2011   3979708
9           Amsterdam            2  2012   4072819
10          Amsterdam            2  2013   4044060
11          Amsterdam            2  2014   4015035
12          Amsterdam            2  2015   4136792
13          Amsterdam            2  2016   3948153
14          Amsterdam            2  2017   3932562
15             Athens            1  2014   5066334
16             Athens            1  2014   4062001
17             Athens            1  2015   5054790
18             Athens            1  2015   4012305
19             Athens            1  2016   4391579
20             Athens            1  2016   3453312
21           Auckland            1  1990   5643291
22           Auckland            1  2009   7551989
23           Auckland            1  2010   7396110
24           Auckland            1  2011   7176723
25           Auckland            1  2012   7739018
26           Auckland            1  2013   7703362
27           Auckland            1  2014   7581652
28           Auckland            1  2015   7750281
29             Austin            1  2013  13001831
30             Austin            1  2016  12527277
31             Austin            5  2007  13037962
32             Austin            5  2010  14050168
33             Austin            5  2013  13739417
34            Bangkok            1  2013  50360919
35            Bangkok            2  2007  42650000
36            Bangkok            2  2013  43870000
37          Barcelona            1  2013   2925663
38          Barcelona            1  2014   2667332
39          Barcelona            1  2015   2849197
40          Barcelona            1  2016   2815533
41          Barcelona            5  2008   4053766
42          Barcelona            5  2010   3894980
43          Barcelona            5  2013   3107591
44          Barcelona            5  2014   3329110
45          Barcelona            5  2015 999999999
54             Berlin            2  1990  30000000
55             Berlin            2  2000  25388000
56             Berlin            2  2001  25578000
57             Berlin            2  2002  25528000
58             Berlin            2  2003  24119000
59             Berlin            2  2004  23515000
60             Berlin            2  2005  21917000
61             Berlin            2  2006  22354000
62             Berlin            2  2007  19948000
63             Berlin            2  2008  20168000
64             Berlin            2  2009  20106000
65             Berlin            2  2010  21299000
66             Berlin            2  2011  19779000
67             Berlin            2  2012  20755000
68             Berlin            2  2013  20806000
69             Berlin            2  2014  19921107
70             Berlin            6  1990  29215000
71             Berlin            6  1991  29546000
72             Berlin            6  1992  26497000
73             Berlin            6  1993  27982000
74             Berlin            6  1994  26878000
75             Berlin            6  1995  25653000
76             Berlin            6  1996  26091000
77             Berlin            6  1997  25486000
78             Berlin            6  1998  24143000
79             Berlin            6  1999  25702000
80             Berlin            6  2000  25217000
81             Berlin            6  2001  25235000
82             Berlin            6  2002  23571000
83             Berlin            6  2003  26987000
84             Berlin            6  2004  23577000
85             Berlin            6  2005  22179000
86             Berlin            6  2006  22406000
87             Berlin            6  2007  20117000
88             Berlin            6  2008  20776000
89             Berlin            6  2009  20114000
90             Berlin            6  2010  22417000
91             Berlin            6  2011  20648000
92             Berlin            6  2012  20848000
93             Berlin            6  2013  21396000
94             Berlin            6  2014  20134000
95             Berlin            6  2015  19479000
96             Bogotá            1  2012  12409483
97             Bogotá            2  2008  16279278
98             Bogotá            2  2011  15921690
99             Bogotá            2  2012  15757162
100            Bogotá            2  2013  16077577
101            Bogotá            2  2014  13217521
102            Bogotá            2  2015  12359324
103            Bogotá            2  2016  17672009
104            Boston            1  2005   7370738
105            Boston            1  2005   7370738
106            Boston            1  2006   6699238
107            Boston            1  2007   7129359
108            Boston            1  2008   7003035
109            Boston            1  2009   6671842
110            Boston            1  2010   6872606
111            Boston            1  2011   6556710
112            Boston            1  2012   5907474
113            Boston            1  2013   6192661
114            Boston            1  2014   6287475
115            Boston            1  2015   6430052
116            Boston            1  2016   6116644
117            Boston            1  2016   6116644
118      Buenos Aires            1  2000  11054983
119      Buenos Aires            1  2001  10617151
120      Buenos Aires            1  2002  10081817
121      Buenos Aires            1  2003  10703532
122      Buenos Aires            1  2004  11491393
123      Buenos Aires            1  2005  11439383
124      Buenos Aires            1  2006  11296765
125      Buenos Aires            1  2007  12549821
126      Buenos Aires            1  2008  12740364
127      Buenos Aires            1  2009  12295748
128      Buenos Aires            1  2010  12922438
129      Buenos Aires            1  2011  12791175
130      Buenos Aires            1  2012  13388555
131      Buenos Aires            1  2013  13532522
132      Buenos Aires            1  2013  13531292
133      Buenos Aires            1  2014  12993346
134      Buenos Aires            1  2014  12928646
135      Buenos Aires            1  2015  13113673
136      Buenos Aires            1  2015  13113673
137         Cape Town            1  2008  20243557
138         Cape Town            1  2012  21914762
139         Cape Town            1  2012  22146880
140         Cape Town            1  2015  21233880
141         Cape Town            1  2015  21233878
142         Cape Town            1  2016  22525514
143         Cape Town            1  2016  21509138
144           Caracas            5  2000   9864500
145           Caracas            5  2011  17213803
146           Caracas            5  2013  17424651
147           Caracas            5  2014  17621788
148           Caracas            5  2015  17774776
149          Changwon            2  2005   7509556
150          Changwon            2  2006   8101552
151          Changwon            2  2007   8134232
152          Changwon            2  2008   7617792
153          Changwon            2  2009   7604316
154          Changwon            2  2010   8289864
155          Changwon            2  2011   8670267
156          Changwon            2  2012   9244314
157          Changwon            2  2013   9268943
158          Changwon            2  2014   9982768
159          Changwon            2  2015  10048912
160           Chennai            1  2015  19317353
161           Chicago            1  1990  32300000
162           Chicago            1  2005  36700027
163           Chicago            1  2005  36700027
164           Chicago            1  2010  35021969
165           Chicago            1  2010  35021969
166           Chicago            1  2015  32651379
167           Chicago            1  2015  32651379
168        Copenhagen            1  2014   1727286
169        Copenhagen            1  2015   1514622
170        Copenhagen            2  1990   3362937
171        Copenhagen            2  1991   3874137
172        Copenhagen            2  1992   3387637
173        Copenhagen            2  1993   3435437
174        Copenhagen            2  1994   3626937
175        Copenhagen            2  1995   3443937
176        Copenhagen            2  1996   3359637
177        Copenhagen            2  1997   3068137
178        Copenhagen            2  1998   2908037
179        Copenhagen            2  1999   2803637
180        Copenhagen            2  2000   2885137
181        Copenhagen            2  2001   2860037
182        Copenhagen            2  2002   2832037
183        Copenhagen            2  2003   2785237
184        Copenhagen            2  2004   2749837
185        Copenhagen            2  2005   2358255
186        Copenhagen            2  2005   2476986
187        Copenhagen            2  2006   2762646
188        Copenhagen            2  2007   2705152
189        Copenhagen            2  2008   2460484
190        Copenhagen            2  2008   2389258
191        Copenhagen            2  2009   2587200
192        Copenhagen            2  2009   2573447
193        Copenhagen            2  2010   2513704
194        Copenhagen            2  2010   2523023
195        Copenhagen            2  2011   1807300
196        Copenhagen            2  2011   2133367
197        Copenhagen            2  2012   1807521
198        Copenhagen            2  2012   1958848
199        Copenhagen            2  2013   1879638
200        Copenhagen            2  2013   2035461
201        Copenhagen            2  2014   1644855
202        Copenhagen            2  2014   1788641
203        Copenhagen            2  2015   1468041
204        Copenhagen            2  2015   1569556
205        Copenhagen            2  2016   1574418
206        Copenhagen            2  2016   1716336
207        Copenhagen            2  2017   1376886
208        Copenhagen            2  2017   1486141
209          Curitiba            1  2013   4566805
210          Curitiba            2  2008   3515890
211          Curitiba            2  2013   3036279
212             Dubai            1  2016  48262139
213            Durban            1  2013  22679906
214            Durban            2  2010  25962074
215            Durban            2  2011  27649400
216            Durban            2  2012  29360395
217            Durban            2  2014  22587081
218             Hanoi            1  2015  15017375
219        Heidelberg            1  2015    967417
220        Heidelberg            2  1990    915000
221        Heidelberg            2  2011    879900
222        Heidelberg            2  2015    806000
223  Ho Chi Minh City            1  2013  34436511
224         Hong Kong            1  2015  39841930
225         Hong Kong            2  2008  41600000
226         Hong Kong            2  2009  42100000
227         Hong Kong            2  2010  40900000
228         Hong Kong            2  2011  42800000
229         Hong Kong            2  2012  43200000
230         Hong Kong            2  2014  44900000
231           Houston            1  2014  33414017
232           Houston            2  2007  37031473
233           Houston            2  2014  33428301
234          Istanbul            1  2015  47532200
235          Istanbul            2  2009  37197605
236          Istanbul            2  2010  43826098
237          Istanbul            2  2011  37534082
238          Istanbul            2  2016  52547639
239           Jakarta            1  2014  56176142
240           Jakarta            5  2005  43860000
241      Johannesburg            1  2013  26220000
242      Johannesburg            1  2014  24716713
243             Lagos            1  2014  29426266
244             Lagos            1  2015  29333951
245             Lagos            1  2015  29333951
246              Lima            1  2012  13169413
247              Lima            1  2015  15789438
248            London            1  2013  39825164
249            London            1  2015  33584111
250            London            7  1990  45054297
251            London            7  2000  50313969
252            London            7  2001  48857930
253            London            7  2002  48934259
254            London            7  2003  49010588
255            London            7  2004  46557375
256            London            7  2005  46401043
257            London            7  2006  47638076
258            London            7  2007  46479046
259            London            7  2008  46672647
260            London            7  2009  42524657
261            London            7  2010  42622583
262            London            7  2011  38640372
263            London            7  2012  42323433
264            London            7  2013  40874984
265            London            7  2014  37943184
266            London            7  2015  33909295
267       Los Angeles            1  2013  27705381
268       Los Angeles            1  2014  30746265
269       Los Angeles            1  2015  30132518
270       Los Angeles            1  2016  26687513
271       Los Angeles            2  1990  54000000
272       Los Angeles            2  2010  38717974
273       Los Angeles            2  2013  32289089
274       Los Angeles            3  1990  36200000
275       Los Angeles            3  2013  27705381
276       Los Angeles            3  2014  30746265
277       Los Angeles            3  2015  30132518
278       Los Angeles            3  2016  26687513
279            Madrid            1  2013   9202396
280            Madrid            1  2014   9236196
281            Madrid            1  2015   9933819
282            Madrid            2  1990  12953000
283            Madrid            2  1999   9105000
284            Madrid            2  2000   9211000
285            Madrid            2  2001   9061000
286            Madrid            2  2002   9082000
287            Madrid            2  2003   9180000
288            Madrid            2  2004   9134000
289            Madrid            2  2005  16035000
290            Madrid            2  2005   9276000
291            Madrid            2  2006  15840000
292            Madrid            2  2006   9234000
293            Madrid            2  2007  16123000
294            Madrid            2  2007   9123000
295            Madrid            2  2008  15212000
296            Madrid            2  2008   9141000
297            Madrid            2  2009  14086000
298            Madrid            2  2009   8771000
299            Madrid            2  2010  12655000
300            Madrid            2  2010   8437000
301            Madrid            2  2011  12774000
302            Madrid            2  2011   7846000
303            Madrid            2  2012  12867000
304            Madrid            2  2012   7820000
305            Madrid            2  2013  11416000
306            Madrid            2  2013   7533000
307            Madrid            2  2014  10996000
308            Madrid            2  2014   7113000
309            Madrid            2  2015  11189000
310            Madrid            2  2016  10706000
311          Medellín            1  2015   3414204
312         Melbourne            1  2005   4155556
313         Melbourne            1  2005   4865011
314         Melbourne            1  2006   4779855
315         Melbourne            1  2006   5483774
316         Melbourne            1  2007   4881420
317         Melbourne            1  2007   5595093
318         Melbourne            1  2008   4848989
319         Melbourne            1  2008   5591681
320         Melbourne            1  2009   4848127
321         Melbourne            1  2009   5631847
322         Melbourne            1  2010   5713905
323         Melbourne            1  2010   6609780
324         Melbourne            1  2011   4763764
325         Melbourne            1  2011   5544947
326         Melbourne            1  2012   6442240
327         Melbourne            1  2012   4654120
328         Melbourne            1  2012   5396658
329         Melbourne            1  2013   4556557
330         Melbourne            1  2013   5268025
331         Melbourne            1  2013   4556557
332         Melbourne            1  2014   4601746
333         Melbourne            1  2014   5319010
334         Melbourne            1  2014   4601746
335         Melbourne            1  2015   4502505
336         Melbourne            1  2015   5122471
337         Melbourne            1  2017   4678193
338         Melbourne            2  2005   6430000
339         Melbourne            2  2008   4943000
340         Melbourne            2  2009   4079000
341         Melbourne            2  2010   3799000
342         Melbourne            2  2011   5164000
343         Melbourne            2  2012   5994000
344         Melbourne            2  2013   5805437
345       Mexico City            1  2012  30173487
346       Mexico City            1  2014  30870170
347       Mexico City            1  2016  32087694
348       Mexico City            1  2016  32087694
349       Mexico City            2  2010  26232831
350       Mexico City            2  2012  30731000
351       Mexico City            2  2014  23655110
352             Milan            1  2013   6168887
353             Milan            1  2015   5965718
354             Milan            2  2005   7418000
355             Milan            2  2009   6953817
356             Milan            2  2013   5976779
357             Milan            2  2015   5847833
358          Montréal            1  1990  14324756
359          Montréal            1  2013  10431943
360          Montréal            1  2013  10197555
361          Montréal            1  2014  10384940
362          Montréal            1  2014  10384939
363            Moscow            1  2014  43968815
364            Moscow            1  2016  25680678
365            Moscow            1  2017  26915654
366       New Orleans            1  2014   3606199
367       New Orleans            2  2007   4467896
368       New Orleans            2  2010   4700403
369       New Orleans            2  2014   3606199
370       New Orleans            2  2015   3641144
371       New Orleans            2  2016   3598537
372     New York City            1  2014  51310978
373     New York City            1  2016  50108475
374     New York City            2  2005  61060000
375     New York City            2  2005  61062452
376     New York City            2  2006  62995119
377     New York City            2  2009  51948000
378     New York City            2  2010  54348841
379     New York City            2  2011  53358868
380     New York City            2  2013  45993429
381     New York City            2  2014  49385508
382     New York City            2  2015  52042167
383     New York City            2  2016  51735403
384     New York City            3  2005  55616688
385     New York City            3  2013  48600872
386              Oslo            1  2013   1340422
387              Oslo            2  1990   1165800
388              Oslo            2  1995   1164800
389              Oslo            2  2000   1257700
390              Oslo            2  2005   1335800
391              Oslo            2  2009   1299285
392              Oslo            2  2011   1279798
393              Oslo            2  2013   1452564
394              Oslo            2  2015   1218494
395              Oslo            2  2016   1125349
396             Paris            1  2004   6259426
397             Paris            1  2009   5890744
398             Paris            1  2014   5489249

In [27]:
results[3]

,City,Data Source,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Num data points,Max emissions,Max emissions year,Recent emissions,Recent emissions year,PC1: At least 3 year of years of data available,PC2: Max emissions >5 years before recent inventory,PC3: Recent inventory <5 years old,PC4: Max emissions <10% higher than recent inventory,Peak Status
0,Accra,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2321904,0,0,1,2321904,2015,2321904,2015,True,False,True,False,UNKNOWN
1,Amman,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7431422,0,8015906,0,2,8015906,2016,8015906,2016,True,False,True,False,UNKNOWN
2,Amsterdam,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4804359,0,0,1,4804359,2015,4804359,2015,True,False,True,False,UNKNOWN
3,Amsterdam,2,3011000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4008518,4045686,4026047,3979708,4072819,4044060,4015035,4136792,3948153,3932562,11,4136792,2015,3932562,2017,False,False,True,False,UNKNOWN
4,Athens,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5066334,5054790,4391579,0,3,5066334,2014,4391579,2016,True,False,True,True,UNKNOWN
5,Auckland,1,5643291,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7551989,7396110,7176723,7739018,7703362,7581652,7750281,0,0,8,7750281,2015,7750281,2015,True,False,True,False,UNKNOWN
6,Austin,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13001831,0,0,12527277,0,2,13001831,2013,12527277,2016,True,False,True,False,UNKNOWN
7,Austin,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13037962,0,0,14050168,0,0,13739417,0,0,0,0,3,14050168,2010,13739417,2013,True,False,False,False,UNKNOWN
8,Bangkok,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50360919,0,0,0,0,1,50360919,2013,50360919,2013,True,False,False,False,UNKNOWN
9,Bangkok,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,42650000,0,0,0,0,0,43870000,0,0,0,0,2,43870000,2013,43870000,2013,True,False,False,False,UNKNOWN
10,Barcelona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2925663,2667332,2849197,2815533,0,4,2925663,2013,2815533,2016,True,False,True,False,UNKNOWN
11,Barcelona,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4053766,0,3894980,0,0,3107591,3329110,999999999,0,0,5,999999999,2015,999999999,2015,True,False,True,False,UNKNOWN
12,Berlin,2,30000000,0,0,0,0,0,0,0,0,0,25388000,25578000,25528000,24119000,23515000,21917000,22354000,19948000,20168000,20106000,21299000,19779000,20755000,20806000,19921107,0,0,0,16,30000000,1990,19921107,2014,True,True,True,True,PEAKED
13,Berlin,6,29215000,29546000,26497000,27982000,26878000,25653000,26091000,25486000,24143000,25702000,25217000,25235000,23571000,26987000,23577000,22179000,22406000,20117000,20776000,20114000,22417000,20648000,20848000,21396000,20134000,19479000,0,0,26,29546000,1991,19479000,2015,True,True,True,True,PEAKED
14,Bogotá,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12409483,0,0,0,0,0,1,12409483,2012,12409483,2012,True,False,False,False,UNKNOWN
15,Bogotá,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,16279278,0,0,15921690,15757162,16077577,13217521,12359324,17672009,0,7,17672009,2016,17672009,2016,True,False,True,False,UNKNOWN
16,Boston,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7370738,6699238,7129359,7003035,6671842,6872606,6556710,5907474,6192661,6287475,6430052,6116644,0,12,7370738,2005,6116644,2016,True,True,True,True,PEAKED
17,Buenos Aires,1,0,0,0,0,0,0,0,0,0,0,11054983,10617151,10081817,10703532,11491393,11439383,11296765,12549821,12740364,12295748,12922438,12791175,13388555,13532522,12993346,13113673,0,0,16,13532522,2013,13113673,2015,True,False,True,False,UNKNOWN
18,Cape Town,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20243557,0,0,0,21914762,0,0,21233880,22525514,0,4,22525514,2016,22525514,2016,True,False,True,False,UNKNOWN
19,Caracas,5,0,0,0,0,0,0,0,0,0,0,9864500,0,0,0,0,0,0,0,0,0,0,17213803,0,17424651,17621788,17774776,0,0,5,17774776,2015,17774776,2015,True,False,True,False,UNKNOWN
20,Changwon,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7509556,8101552,8134232,7617792,7604316,8289864,8670267,9244314,9268943,9982768,10048912,0,0,11,10048912,2015,10048912,2015,True,False,True,False,UNKNOWN
21,Chennai,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19317353,0,0,1,19317353,2015,19317353,2015,True,False,True,False,UNKNOWN
22,Chicago,1,32300000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,36700027,0,0,0,0,35021969,0,0,0,0,32651379,0,0,4,36700027,2005,32651379,2015,True,True,True,True,PEAKED
23,Copenhagen,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1727286,1514622,0,0,2,1727286,2014,1514622,2015,True,False,True,True,UNKNOWN
24,Copenhagen,2,3362937,3874137,3387637,3435437,3626937,3443937,3359637,3068137,2908037,2803637,2885137,2860037,2832037,2785237,2749837,2358255,2762646,2705152,2460484,2587200,2513704,1807300,1807521,1879638,1644855,1468041,1574418,1376886,28,3874137,1991,1376886,2017,False,True,True,True,UNKNOWN
25,Curitiba,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4566805,0,0,0,0,1,4566805,2013,4566805,2013,True,False,False,False,UNKNOWN
26,Curitiba,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3515890,0,0,0,0,3036279,0,0,0,0,2,3515890,2008,3036279,2013,True,True,False,True,UNKNOWN
27,Dubai,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,48262139,0,1,48262139,2016,48262139,2016,True,False,True,False,UNKNOWN
28,Durban,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22679906,0,0,0,0,1,22679906,2013,22679906,2013,True,False,False,False,UNKNOWN
29,Durban,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,25962074,27649400,29360395,0,22587081,0,0,0,4,29360395,2012,22587081,2014,True,False,True,True,UNKNOWN
30,Hanoi,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,15017375,0,0,1,15017375,2015,15017375,2015,True,False,True,False,UNKNOWN
31,Heidelberg,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,967417,0,0,1,967417,2015,967417,2015,True,False,True,False,UNKNOWN
32,Heidelberg,2,915000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,879900,0,0,0,806000,0,0,3,915000,1990,806000,2015,True,True,True,True,PEAKED
33,Ho Chi Minh City,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,34436511,0,0,0,0,1,34436511,2013,34436511,2013,True,False,False,False,UNKNOWN
34,Hong Kong,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,39841930,0,0,1,39841930,2015,39841930,2015,True,False,True,False,UNKNOWN
35,Hong Kong,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,41600000,42100000,40900000,42800000,43200000,0,44900000,0,0,0,6,44900000,2014,44900000,2014,True,False,True,False,UNKNOWN
36,Houston,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,33414017,0,0,0,1,33414017,2014,33414017,2014,True,False,True,False,UNKNOWN
37,Houston,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,37031473,0,0,0,0,0,0,33428301,0,0,0,2,37031473,2007,33428301,2014,True,True,True,True,PEAKED
38,Istanbul,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47532200,0,0,1,47532200,2015,47532200,2015,True,False,True,False,UNKNOWN
39,Istanbul,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,37197605,43826098,37534082,0,0,0,0,52547639,0,4,52547639,2016,52547639,2016,True,False,True,False,UNKNOWN
40,Jakarta,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,56176142,0,0,0,1,56176142,2014,56176142,2014,True,False,True,False,UNKNOWN
41,Jakarta,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,43860000,0,0,0,0,0,0,0,0,0,0,0,0,1,43860000,2005,43860000,2005,True,False,False,False,UNKNOWN
42,Johannesburg,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,26220000,24716713,0,0,0,2,26220000,2013,24716713,2014,True,False,True,False,UNKNOWN
43,Lagos,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,29426266,29333951,0,0,2,29426266,2014,29333951,2015,True,False,True,False,UNKNOWN
44,Lima,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13169413,0,0,15789438,0,0,2,15789438,2015,15789438,2015,True,False,True,False,UNKNOWN
45,London,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,39825164,0,33584111,0,0,2,39825164,2013,33584111,2015,True,False,True,True,UNKNOWN
46,London,7,45054297,0,0,0,0,0,0,0,0,0,50313969,48857930,48934259,49010588,46557375,46401043,47638076,46479046,46672647,42524657,42622583,38640372,42323433,40874984,37943184,33909295,0,0,17,50313969,2000,33909295,2015,True,True,True,True,PEAKED
47,Los Angeles,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27705381,30746265,30132518,26687513,0,4,30746265,2014,26687513,2016,True,False,True,True,UNKNOWN
48,Los Angeles,2,54000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,38717974,0,0,32289089,0,0,0,0,3,54000000,1990,32289089,2013,True,True,False,True,UNKNOWN
49,Los Angeles,3,36200000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27705381,30746265,30132518,26687513,0,5,36200000,1990,26687513,2016,True,True,True,True,PEAKED
50,Madrid,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9202396,9236196,9933819,0,0,3,9933819,2015,9933819,2015,True,False,True,False,UNKNOWN
51,Madrid,2,12953000,0,0,0,0,0,0,0,0,9105000,9211000,9061000,9082000,9180000,9134000,16035000,15840000,16123000,15212000,14086000,12655000,12774000,12867000,11416000,10996000,11189000,10706000,0,19,16123000,2007,10706000,2016,True,True,True,True,PEAKED
52,Medellín,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3414204,0,0,1,3414204,2015,3414204,2015,True,False,True,False,UNKNOWN
53,Melbourne,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4155556,4779855,4881420,4848989,4848127,5713905,4763764,6442240,4556557,4601746,4502505,0,4678193,12,6442240,2012,4678193,2017,False,True,True,True,UNKNOWN
54,Melbourne,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6430000,0,0,4943000,4079000,3799000,5164000,5994000,5805437,0,0,0,0,7,6430000,2005,5805437,2013,True,True,False,True,UNKNOWN
55,Mexico City,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30173487,0,30870170,0,32087694,0,3,32087694,2016,32087694,2016,True,False,True,False,UNKNOWN
56,Mexico City,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,26232831,0,30731000,0,23655110,0,0,0,3,30731000,2012,23655110,2014,True,False,True,True,UNKNOWN
57,Milan,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6168887,0,5965718,0,0,2,6168887,2013,5965718,2015,True,False,True,False,UNKNOWN
58,Milan,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7418000,0,0,0,6953817,0,0,0,5976779,0,5847833,0,0,4,7418000,2005,5847833,2015,True,True,True,True,PEAKED
59,Montréal,1,14324756,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10431943,10384940,0,0,0,3,14324756,1990,10384940,2014,True,True,True,True,PEAKED
60,Moscow,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,43968815,0,25680678,26915654,3,43968815,2014,26915654,2017,False,False,True,True,UNKNOWN
61,New Orleans,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3606199,0,0,0,1,3606199,2014,3606199,2014,True,False,True,False,UNKNOWN
62,New Orleans,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4467896,0,0,4700403,0,0,0,3606199,3641144,3598537,0,5,4700403,2010,3598537,2016,True,True,True,True,PEAKED
63,New York City,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51310978,0,50108475,0,2,51310978,2014,50108475,2016,True,False,True,False,UNKNOWN
64,New York City,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,61060000,62995119,0,0,51948000,54348841,53358868,0,45993429,49385508,52042167,51735403,0,9,62995119,2006,51735403,2016,True,True,True,True,PEAKED
65,New York City,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,55616688,0,0,0,0,0,0,0,48600872,0,0,0,0,2,55616688,2005,48600872,2013,True,True,False,True,UNKNOWN
66,Oslo,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1340422,0,0,0,0,1,1340422,2013,1340422,2013,True,False,False,False,UNKNOWN
67,Oslo,2,1165800,0,0,0,0,1164800,0,0,0,0,1257700,0,0,0,0,1335800,0,0,0,1299285,0,1279798,0,1452564,0,1218494,1125349,0,9,1452564,2013,1125349,2016,True,False,True,True,UNKNOWN
68,Paris,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6259426,0,0,0,0,5890744,0,0,0,0,5489249,0,0,0,3,6259426,2004,5489249,2014,True,True,True,True,PEAKED
69,Paris,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6259428,0,0,0,0,5890743,0,0,0,0,5489249,0,0,0,3,6259428,2004,5489249,2014,True,True,True,True,PEAKED
70,Philadelphia,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18487912,0,17355479,0,0,0,2,18487912,2012,17355479,2014,True,False,True,False,UNKNOWN
71,Philadelphia,2,21162789,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21383319,0,0,0,20419485,0,18992714,0,18333254,0,0,0,5,21383319,2006,18333254,2014,True,True,True,True,PEAKED
72,Portland,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5909785,6561761,6537609,5929869,0,4,6561761,2014,5929869,2016,True,False,True,True,UNKNOWN
73,Portland,7,8989869,0,0,0,0,9557844,0,0,0,9910230,10246023,9945747,9819570,9373404,8941723,8732937,9006661,8774222,8477030,8179069,7826522,7972367,7073275,7087933,7941981,7914050,7287988,0,20,10246023,2000,7287988,2016,True,True,True,True,PEAKED
74,Quito,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5218318,0,0,0,5759189,0,0,2,5759189,2015,5759189,2015,True,False,True,False,UNKNOWN
75,Rio de Janeiro,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17006642,0,0,0,0,0,1,17006642,2012,17006642,2012,True,False,False,False,UNKNOWN
76,Rio de Janeiro,5,10972000,0,0,0,0,0,12535000,0,12798000,0,0,0,0,0,0,11351700,0,0,0,0,0,0,22574735,0,0,0,0,0,5,22574735,2012,22574735,2012,True,False,False,False,UNKNOWN
77,Rome,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9514765,0,0,1,9514765,2015,9514765,2015,True,False,True,False,UNKNOWN
78,Rome,2,0,0,0,0,0,0,0,0,0,0,0,0,0,10999517,11015993,10525029,11004789,10858237,10522353,9976129,10008879,0,0,0,0,8627180,0,0,9,11015993,2004,8627180,2015,True,True,True,True,PEAKED
79,Rotterdam,2,23700000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27920000,29608297,29460000,0,29550000,28202000,31512000,34190633,32203591,9,34190633,2016,32203591,2017,False,False,True,False,UNKNOWN
80,Salvador,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3841163,0,0,0,0,1,3841163,2013,3841163,2013,True,False,False,False,UNKNOWN
81,San Francisco,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5492513,0,0,5055885,5108064,0,3,5492513,2012,5108064,2016,True,False,True,False,UNKNOWN
82,San Francisco,3,7975525,7988285,8001046,8013807,8026568,8039329,8052089,8064850,8077611,8090372,8103133,7937286,7771440,7605593,7439747,7273901,7199654,7125407,7051160,6976913,6902667,6638916,6375166,6213286,6051405,5889524,5603682,0,27,8103133,2000,5603682,2016,True,True,True,True,PEAKED
83,San Francisco,7,6201949,0,0,0,0,0,0,0,0,0,6510048,0,0,0,0,5757502,0,0,0,0,5299757,0,4737748,0,0,4484087,4436227,0,7,6510048,2000,4436227,2016,True,True,True,True,PEAKED
84,Santiago,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19592190,19592190,0,0,23120027,0,0,0,0,3,23120027,2013,23120027,2013,True,False,False,False,UNKNOWN
85,Sao Paulo,5,0,0,0,0,0,0,0,0,0,0,0,0,0,15115000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,15115000,2003,15115000,2003,True,False,False,False,UNKNOWN
86,Seattle,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4365270,0,4401243,0,0,0,2,4401243,2014,4401243,2014,True,False,True,False,UNKNOWN
87,Seattle,7,3578000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3632000,0,0,3708000,0,0,0,3542000,0,3471000,0,0,0,5,3708000,2008,3471000,2014,True,True,True,False,NOT PEAKED
88,Seoul,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,48184542,0,0,0,0,1,48184542,2013,48184542,2013,True,False,False,False,UNKNOWN
89,Seoul,5,0,0,0,0,0,0,0,0,0,0,48336000,48492000,48085000,47888000,49416000,49445000,48776000,50083000,49929000,48841000,49496000,48672000,48311000,46817000,45673000,45646000,0,0,16,50083000,2007,45646000,2015,True,True,True,False,NOT PEAKED
90,Singapore,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,46831860,45100000,48094650,0,0,0,0,0,3,48094650,2012,48094650,2012,True,False,False,False,UNKNOWN
91,Stockholm,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2143441,0,0,1796590,1823388,0,3,2143441,2012,1823388,2016,True,False,True,True,UNKNOWN
92,Stockholm,7,3669000,0,0,0,0,0,0,0,0,0,3509000,3324000,3103000,3087000,3154000,3104000,3127000,3061000,2768000,2852000,2872000,2742000,2511000,2468000,2421000,2315000,0,0,17,3669000,1990,2315000,2015,True,True,True,True,PEAKED
93,Sydney,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5815523,5883214,5929396,5781388,5589183,5527098,5344601,5234246,5071677,4828380,4698206,4633498,0,12,5929396,2007,4633498,2016,True,True,True,True,PEAKED
94,Tokyo,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,66081398,0,0,0,0,1,66081398,2013,66081398,2013,True,False,False,False,UNKNOWN
95,Tokyo,7,57630000,60640000,61890000,60010000,62430000,62270000,61090000,61740000,60790000,61200000,62200000,59860000,66260000,70650000,64740000,64570000,60500000,68240000,66250000,62510000,62510000,65090000,70170000,70150000,67370000,66330000,66010000,0,27,70650000,2003,66010000,2016,True,True,True,False,NOT PEAKED
96,Toronto,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20662821,20313061,19379422,19706363,19365997,18229917,0,6,20662821,2011,18229917,2016,True,True,True,True,PEAKED
97,Toronto,7,27051617,0,0,0,0,0,0,0,0,0,0,0,0,0,25082534,0,0,0,24667599,0,0,21246259,20270854,20589001,0,0,0,0,6,27051617,1990,20589001,2013,True,True,False,True,UNKNOWN
98,Tshwane,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27725965,0,0,0,1,27725965,2014,27725965,2014,True,False,True,False,UNKNOWN
99,Tshwane,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11984729,0,15236693,0,0,0,2,15236693,2014,15236693,2014,True,False,True,False,UNKNOWN
100,Vancouver,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2854278,2980427,2990429,2824060,2904065,2720679,2613354,2504194,2452690,2565158,2698097,11,2990429,2009,2698097,2017,False,True,True,True,UNKNOWN
101,Vancouver,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2854278,2980427,2990429,2824060,2904065,2720629,2613354,2504194,2452690,2565158,2698097,11,2990429,2009,2698097,2017,False,True,True,True,UNKNOWN
102,Vancouver,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2805000,2980000,2940000,2775000,2925000,2685000,2580000,2550000,2410000,2490000,0,10,2980000,2008,2490000,2016,True,True,True,True,PEAKED
103,Venice,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3103390,0,1,3103390,2016,3103390,2016,True,False,True,False,UNKNOWN
104,Venice,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1494744,0,0,0,0,0,0,0,0,0,1418344,0,0,2,1494744,2005,1418344,2015,True,True,True,False,NOT PEAKED
105,Warsaw,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10121489,0,0,0,1,10121489,2014,10121489,2014,True,False,True,False,UNKNOWN
106,Warsaw,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12952984,0,0,0,12024140,12221708,0,11721774,0,11434461,0,5,12952984,2007,11434461,2016,True,True,True,True,PEAKED
107,"Washington, DC",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7673816,7749699,7857498,7196809,0,4,7857498,2015,7196809,2016,True,False,True,False,UNKNOWN
108,"Washington, DC",3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10699206,0,0,0,0,9112918,7666998,7968576,7753635,8026916,7490552,0,7,10699206,2006,7490552,2016,True,True,True,True,PEAKED
109,Yokohama,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20965649,0,20960501,0,0,2,20965649,2013,20960501,2015,True,False,True,False,UNKNOWN
110,Yokohama,7,16363000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20203000,18929000,20637000,20162000,19498000,20099000,20702000,21572000,21587000,20398000,19342000,18840000,0,13,21587000,2013,18840000,2016,True,False,True,True,UNKNOWN

In [28]:
results[4]

,City,Data Source,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Num data points,Max emissions,Max emissions year,Recent emissions,Recent emissions year,PC1: At least 3 year of years of data available,PC2: Max emissions >5 years before recent inventory,PC3: Recent inventory <5 years old,PC4: Max emissions <10% higher than recent inventory,Peak Status,Use for dashboard?
0,Accra,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2321904,0,0,1,2321904,2015,2321904,2015,True,False,True,False,UNKNOWN,N
1,Amman,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7431422,0,8015906,0,2,8015906,2016,8015906,2016,True,False,True,False,UNKNOWN,Y
3,Amsterdam,2,3011000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4008518,4045686,4026047,3979708,4072819,4044060,4015035,4136792,3948153,3932562,11,4136792,2015,3932562,2017,False,False,True,False,UNKNOWN,Y
2,Amsterdam,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4804359,0,0,1,4804359,2015,4804359,2015,True,False,True,False,UNKNOWN,N
4,Athens,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5066334,5054790,4391579,0,3,5066334,2014,4391579,2016,True,False,True,True,UNKNOWN,Y
5,Auckland,1,5643291,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7551989,7396110,7176723,7739018,7703362,7581652,7750281,0,0,8,7750281,2015,7750281,2015,True,False,True,False,UNKNOWN,Y
7,Austin,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13037962,0,0,14050168,0,0,13739417,0,0,0,0,3,14050168,2010,13739417,2013,True,False,False,False,UNKNOWN,Y
6,Austin,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13001831,0,0,12527277,0,2,13001831,2013,12527277,2016,True,False,True,False,UNKNOWN,N
9,Bangkok,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,42650000,0,0,0,0,0,43870000,0,0,0,0,2,43870000,2013,43870000,2013,True,False,False,False,UNKNOWN,Y
8,Bangkok,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50360919,0,0,0,0,1,50360919,2013,50360919,2013,True,False,False,False,UNKNOWN,N
11,Barcelona,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4053766,0,3894980,0,0,3107591,3329110,999999999,0,0,5,999999999,2015,999999999,2015,True,False,True,False,UNKNOWN,Y
10,Barcelona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2925663,2667332,2849197,2815533,0,4,2925663,2013,2815533,2016,True,False,True,False,UNKNOWN,N
13,Berlin,6,29215000,29546000,26497000,27982000,26878000,25653000,26091000,25486000,24143000,25702000,25217000,25235000,23571000,26987000,23577000,22179000,22406000,20117000,20776000,20114000,22417000,20648000,20848000,21396000,20134000,19479000,0,0,26,29546000,1991,19479000,2015,True,True,True,True,PEAKED,Y
12,Berlin,2,30000000,0,0,0,0,0,0,0,0,0,25388000,25578000,25528000,24119000,23515000,21917000,22354000,19948000,20168000,20106000,21299000,19779000,20755000,20806000,19921107,0,0,0,16,30000000,1990,19921107,2014,True,True,True,True,PEAKED,N
15,Bogotá,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,16279278,0,0,15921690,15757162,16077577,13217521,12359324,17672009,0,7,17672009,2016,17672009,2016,True,False,True,False,UNKNOWN,Y
14,Bogotá,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12409483,0,0,0,0,0,1,12409483,2012,12409483,2012,True,False,False,False,UNKNOWN,N
16,Boston,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7370738,6699238,7129359,7003035,6671842,6872606,6556710,5907474,6192661,6287475,6430052,6116644,0,12,7370738,2005,6116644,2016,True,True,True,True,PEAKED,Y
17,Buenos Aires,1,0,0,0,0,0,0,0,0,0,0,11054983,10617151,10081817,10703532,11491393,11439383,11296765,12549821,12740364,12295748,12922438,12791175,13388555,13532522,12993346,13113673,0,0,16,13532522,2013,13113673,2015,True,False,True,False,UNKNOWN,Y
18,Cape Town,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20243557,0,0,0,21914762,0,0,21233880,22525514,0,4,22525514,2016,22525514,2016,True,False,True,False,UNKNOWN,Y
19,Caracas,5,0,0,0,0,0,0,0,0,0,0,9864500,0,0,0,0,0,0,0,0,0,0,17213803,0,17424651,17621788,17774776,0,0,5,17774776,2015,17774776,2015,True,False,True,False,UNKNOWN,Y
20,Changwon,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7509556,8101552,8134232,7617792,7604316,8289864,8670267,9244314,9268943,9982768,10048912,0,0,11,10048912,2015,10048912,2015,True,False,True,False,UNKNOWN,Y
21,Chennai,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19317353,0,0,1,19317353,2015,19317353,2015,True,False,True,False,UNKNOWN,Y
22,Chicago,1,32300000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,36700027,0,0,0,0,35021969,0,0,0,0,32651379,0,0,4,36700027,2005,32651379,2015,True,True,True,True,PEAKED,Y
24,Copenhagen,2,3362937,3874137,3387637,3435437,3626937,3443937,3359637,3068137,2908037,2803637,2885137,2860037,2832037,2785237,2749837,2358255,2762646,2705152,2460484,2587200,2513704,1807300,1807521,1879638,1644855,1468041,1574418,1376886,28,3874137,1991,1376886,2017,False,True,True,True,UNKNOWN,Y
23,Copenhagen,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1727286,1514622,0,0,2,1727286,2014,1514622,2015,True,False,True,True,UNKNOWN,N
26,Curitiba,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3515890,0,0,0,0,3036279,0,0,0,0,2,3515890,2008,3036279,2013,True,True,False,True,UNKNOWN,Y
25,Curitiba,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4566805,0,0,0,0,1,4566805,2013,4566805,2013,True,False,False,False,UNKNOWN,N
27,Dubai,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,48262139,0,1,48262139,2016,48262139,2016,True,False,True,False,UNKNOWN,Y
29,Durban,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,25962074,27649400,29360395,0,22587081,0,0,0,4,29360395,2012,22587081,2014,True,False,True,True,UNKNOWN,Y
28,Durban,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22679906,0,0,0,0,1,22679906,2013,22679906,2013,True,False,False,False,UNKNOWN,N
30,Hanoi,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,15017375,0,0,1,15017375,2015,15017375,2015,True,False,True,False,UNKNOWN,Y
32,Heidelberg,2,915000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,879900,0,0,0,806000,0,0,3,915000,1990,806000,2015,True,True,True,True,PEAKED,Y
31,Heidelberg,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,967417,0,0,1,967417,2015,967417,2015,True,False,True,False,UNKNOWN,N
33,Ho Chi Minh City,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,34436511,0,0,0,0,1,34436511,2013,34436511,2013,True,False,False,False,UNKNOWN,Y
35,Hong Kong,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,41600000,42100000,40900000,42800000,43200000,0,44900000,0,0,0,6,44900000,2014,44900000,2014,True,False,True,False,UNKNOWN,Y
34,Hong Kong,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,39841930,0,0,1,39841930,2015,39841930,2015,True,False,True,False,UNKNOWN,N
37,Houston,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,37031473,0,0,0,0,0,0,33428301,0,0,0,2,37031473,2007,33428301,2014,True,True,True,True,PEAKED,Y
36,Houston,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,33414017,0,0,0,1,33414017,2014,33414017,2014,True,False,True,False,UNKNOWN,N
39,Istanbul,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,37197605,43826098,37534082,0,0,0,0,52547639,0,4,52547639,2016,52547639,2016,True,False,True,False,UNKNOWN,Y
38,Istanbul,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47532200,0,0,1,47532200,2015,47532200,2015,True,False,True,False,UNKNOWN,N
40,Jakarta,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,56176142,0,0,0,1,56176142,2014,56176142,2014,True,False,True,False,UNKNOWN,Y
41,Jakarta,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,43860000,0,0,0,0,0,0,0,0,0,0,0,0,1,43860000,2005,43860000,2005,True,False,False,False,UNKNOWN,N
42,Johannesburg,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,26220000,24716713,0,0,0,2,26220000,2013,24716713,2014,True,False,True,False,UNKNOWN,Y
43,Lagos,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,29426266,29333951,0,0,2,29426266,2014,29333951,2015,True,False,True,False,UNKNOWN,Y
44,Lima,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13169413,0,0,15789438,0,0,2,15789438,2015,15789438,2015,True,False,True,False,UNKNOWN,Y
46,London,7,45054297,0,0,0,0,0,0,0,0,0,50313969,48857930,48934259,49010588,46557375,46401043,47638076,46479046,46672647,42524657,42622583,38640372,42323433,40874984,37943184,33909295,0,0,17,50313969,2000,33909295,2015,True,True,True,True,PEAKED,Y
45,London,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,39825164,0,33584111,0,0,2,39825164,2013,33584111,2015,True,False,True,True,UNKNOWN,N
49,Los Angeles,3,36200000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27705381,30746265,30132518,26687513,0,5,36200000,1990,26687513,2016,True,True,True,True,PEAKED,Y
47,Los Angeles,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27705381,30746265,30132518,26687513,0,4,30746265,2014,26687513,2016,True,False,True,True,UNKNOWN,N
48,Los Angeles,2,54000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,38717974,0,0,32289089,0,0,0,0,3,54000000,1990,32289089,2013,True,True,False,True,UNKNOWN,N
51,Madrid,2,12953000,0,0,0,0,0,0,0,0,9105000,9211000,9061000,9082000,9180000,9134000,16035000,15840000,16123000,15212000,14086000,12655000,12774000,12867000,11416000,10996000,11189000,10706000,0,19,16123000,2007,10706000,2016,True,True,True,True,PEAKED,Y
50,Madrid,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9202396,9236196,9933819,0,0,3,9933819,2015,9933819,2015,True,False,True,False,UNKNOWN,N
52,Medellín,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3414204,0,0,1,3414204,2015,3414204,2015,True,False,True,False,UNKNOWN,Y
53,Melbourne,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4155556,4779855,4881420,4848989,4848127,5713905,4763764,6442240,4556557,4601746,4502505,0,4678193,12,6442240,2012,4678193,2017,False,True,True,True,UNKNOWN,Y
54,Melbourne,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6430000,0,0,4943000,4079000,3799000,5164000,5994000,5805437,0,0,0,0,7,6430000,2005,5805437,2013,True,True,False,True,UNKNOWN,N
55,Mexico City,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30173487,0,30870170,0,32087694,0,3,32087694,2016,32087694,2016,True,False,True,False,UNKNOWN,Y
56,Mexico City,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,26232831,0,30731000,0,23655110,0,0,0,3,30731000,2012,23655110,2014,True,False,True,True,UNKNOWN,N
58,Milan,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7418000,0,0,0,6953817,0,0,0,5976779,0,5847833,0,0,4,7418000,2005,5847833,2015,True,True,True,True,PEAKED,Y
57,Milan,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6168887,0,5965718,0,0,2,6168887,2013,5965718,2015,True,False,True,False,UNKNOWN,N
59,Montréal,1,14324756,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10431943,10384940,0,0,0,3,14324756,1990,10384940,2014,True,True,True,True,PEAKED,Y
60,Moscow,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,43968815,0,25680678,26915654,3,43968815,2014,26915654,2017,False,False,True,True,UNKNOWN,Y
62,New Orleans,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4467896,0,0,4700403,0,0,0,3606199,3641144,3598537,0,5,4700403,2010,3598537,2016,True,True,True,True,PEAKED,Y
61,New Orleans,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3606199,0,0,0,1,3606199,2014,3606199,2014,True,False,True,False,UNKNOWN,N
64,New York City,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,61060000,62995119,0,0,51948000,54348841,53358868,0,45993429,49385508,52042167,51735403,0,9,62995119,2006,51735403,2016,True,True,True,True,PEAKED,Y
63,New York City,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51310978,0,50108475,0,2,51310978,2014,50108475,2016,True,False,True,False,UNKNOWN,N
65,New York City,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,55616688,0,0,0,0,0,0,0,48600872,0,0,0,0,2,55616688,2005,48600872,2013,True,True,False,True,UNKNOWN,N
67,Oslo,2,1165800,0,0,0,0,1164800,0,0,0,0,1257700,0,0,0,0,1335800,0,0,0,1299285,0,1279798,0,1452564,0,1218494,1125349,0,9,1452564,2013,1125349,2016,True,False,True,True,UNKNOWN,Y
66,Oslo,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1340422,0,0,0,0,1,1340422,2013,1340422,2013,True,False,False,False,UNKNOWN,N
68,Paris,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6259426,0,0,0,0,5890744,0,0,0,0,5489249,0,0,0,3,6259426,2004,5489249,2014,True,True,True,True,PEAKED,Y
69,Paris,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6259428,0,0,0,0,5890743,0,0,0,0,5489249,0,0,0,3,6259428,2004,5489249,2014,True,True,True,True,PEAKED,N
71,Philadelphia,2,21162789,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21383319,0,0,0,20419485,0,18992714,0,18333254,0,0,0,5,21383319,2006,18333254,2014,True,True,True,True,PEAKED,Y
70,Philadelphia,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18487912,0,17355479,0,0,0,2,18487912,2012,17355479,2014,True,False,True,False,UNKNOWN,N
73,Portland,7,8989869,0,0,0,0,9557844,0,0,0,9910230,10246023,9945747,9819570,9373404,8941723,8732937,9006661,8774222,8477030,8179069,7826522,7972367,7073275,7087933,7941981,7914050,7287988,0,20,10246023,2000,7287988,2016,True,True,True,True,PEAKED,Y
72,Portland,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5909785,6561761,6537609,5929869,0,4,6561761,2014,5929869,2016,True,False,True,True,UNKNOWN,N
74,Quito,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5218318,0,0,0,5759189,0,0,2,5759189,2015,5759189,2015,True,False,True,False,UNKNOWN,Y
76,Rio de Janeiro,5,10972000,0,0,0,0,0,12535000,0,12798000,0,0,0,0,0,0,11351700,0,0,0,0,0,0,22574735,0,0,0,0,0,5,22574735,2012,22574735,2012,True,False,False,False,UNKNOWN,Y
75,Rio de Janeiro,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17006642,0,0,0,0,0,1,17006642,2012,17006642,2012,True,False,False,False,UNKNOWN,N
78,Rome,2,0,0,0,0,0,0,0,0,0,0,0,0,0,10999517,11015993,10525029,11004789,10858237,10522353,9976129,10008879,0,0,0,0,8627180,0,0,9,11015993,2004,8627180,2015,True,True,True,True,PEAKED,Y
77,Rome,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9514765,0,0,1,9514765,2015,9514765,2015,True,False,True,False,UNKNOWN,N
79,Rotterdam,2,23700000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27920000,29608297,29460000,0,29550000,28202000,31512000,34190633,32203591,9,34190633,2016,32203591,2017,False,False,True,False,UNKNOWN,Y
80,Salvador,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3841163,0,0,0,0,1,3841163,2013,3841163,2013,True,False,False,False,UNKNOWN,Y
82,San Francisco,3,7975525,7988285,8001046,8013807,8026568,8039329,8052089,8064850,8077611,8090372,8103133,7937286,7771440,7605593,7439747,7273901,7199654,7125407,7051160,6976913,6902667,6638916,6375166,6213286,6051405,5889524,5603682,0,27,8103133,2000,5603682,2016,True,True,True,True,PEAKED,Y
83,San Francisco,7,6201949,0,0,0,0,0,0,0,0,0,6510048,0,0,0,0,5757502,0,0,0,0,5299757,0,4737748,0,0,4484087,4436227,0,7,6510048,2000,4436227,2016,True,True,True,True,PEAKED,N
81,San Francisco,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5492513,0,0,5055885,5108064,0,3,5492513,2012,5108064,2016,True,False,True,False,UNKNOWN,N
84,Santiago,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19592190,19592190,0,0,23120027,0,0,0,0,3,23120027,2013,23120027,2013,True,False,False,False,UNKNOWN,Y
85,Sao Paulo,5,0,0,0,0,0,0,0,0,0,0,0,0,0,15115000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,15115000,2003,15115000,2003,True,False,False,False,UNKNOWN,Y
87,Seattle,7,3578000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3632000,0,0,3708000,0,0,0,3542000,0,3471000,0,0,0,5,3708000,2008,3471000,2014,True,True,True,False,NOT PEAKED,Y
86,Seattle,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4365270,0,4401243,0,0,0,2,4401243,2014,4401243,2014,True,False,True,False,UNKNOWN,N
89,Seoul,5,0,0,0,0,0,0,0,0,0,0,48336000,48492000,48085000,47888000,49416000,49445000,48776000,50083000,49929000,48841000,49496000,48672000,48311000,46817000,45673000,45646000,0,0,16,50083000,2007,45646000,2015,True,True,True,False,NOT PEAKED,Y
88,Seoul,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,48184542,0,0,0,0,1,48184542,2013,48184542,2013,True,False,False,False,UNKNOWN,N
90,Singapore,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,46831860,45100000,48094650,0,0,0,0,0,3,48094650,2012,48094650,2012,True,False,False,False,UNKNOWN,Y
92,Stockholm,7,3669000,0,0,0,0,0,0,0,0,0,3509000,3324000,3103000,3087000,3154000,3104000,3127000,3061000,2768000,2852000,2872000,2742000,2511000,2468000,2421000,2315000,0,0,17,3669000,1990,2315000,2015,True,True,True,True,PEAKED,Y
91,Stockholm,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2143441,0,0,1796590,1823388,0,3,2143441,2012,1823388,2016,True,False,True,True,UNKNOWN,N
93,Sydney,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5815523,5883214,5929396,5781388,5589183,5527098,5344601,5234246,5071677,4828380,4698206,4633498,0,12,5929396,2007,4633498,2016,True,True,True,True,PEAKED,Y
95,Tokyo,7,57630000,60640000,61890000,60010000,62430000,62270000,61090000,61740000,60790000,61200000,62200000,59860000,66260000,70650000,64740000,64570000,60500000,68240000,66250000,62510000,62510000,65090000,70170000,70150000,67370000,66330000,66010000,0,27,70650000,2003,66010000,2016,True,True,True,False,NOT PEAKED,Y
94,Tokyo,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,66081398,0,0,0,0,1,66081398,2013,66081398,2013,True,False,False,False,UNKNOWN,N
96,Toronto,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20662821,20313061,19379422,19706363,19365997,18229917,0,6,20662821,2011,18229917,2016,True,True,True,True,PEAKED,Y
97,Toronto,7,27051617,0,0,0,0,0,0,0,0,0,0,0,0,0,25082534,0,0,0,24667599,0,0,21246259,20270854,20589001,0,0,0,0,6,27051617,1990,20589001,2013,True,True,False,True,UNKNOWN,N
99,Tshwane,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11984729,0,15236693,0,0,0,2,15236693,2014,15236693,2014,True,False,True,False,UNKNOWN,Y
98,Tshwane,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27725965,0,0,0,1,27725965,2014,27725965,2014,True,False,True,False,UNKNOWN,N
102,Vancouver,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2805000,2980000,2940000,2775000,2925000,2685000,2580000,2550000,2410000,2490000,0,10,2980000,2008,2490000,2016,True,True,True,True,PEAKED,Y
100,Vancouver,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2854278,2980427,2990429,2824060,2904065,2720679,2613354,2504194,2452690,2565158,2698097,11,2990429,2009,2698097,2017,False,True,True,True,UNKNOWN,N
101,Vancouver,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2854278,2980427,2990429,2824060,2904065,2720629,2613354,2504194,2452690,2565158,2698097,11,2990429,2009,2698097,2017,False,True,True,True,UNKNOWN,N
104,Venice,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1494744,0,0,0,0,0,0,0,0,0,1418344,0,0,2,1494744,2005,1418344,2015,True,True,True,False,NOT PEAKED,Y
103,Venice,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3103390,0,1,3103390,2016,3103390,2016,True,False,True,False,UNKNOWN,N
106,Warsaw,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12952984,0,0,0,12024140,12221708,0,11721774,0,11434461,0,5,12952984,2007,11434461,2016,True,True,True,True,PEAKED,Y
105,Warsaw,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10121489,0,0,0,1,10121489,2014,10121489,2014,True,False,True,False,UNKNOWN,N
108,"Washington, DC",3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10699206,0,0,0,0,9112918,7666998,7968576,7753635,8026916,7490552,0,7,10699206,2006,7490552,2016,True,True,True,True,PEAKED,Y
107,"Washington, DC",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7673816,7749699,7857498,7196809,0,4,7857498,2015,7196809,2016,True,False,True,False,UNKNOWN,N
110,Yokohama,7,16363000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20203000,18929000,20637000,20162000,19498000,20099000,20702000,21572000,21587000,20398000,19342000,18840000,0,13,21587000,2013,18840000,2016,True,False,True,True,UNKNOWN,Y
109,Yokohama,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20965649,0,20960501,0,0,2,20965649,2013,20960501,2015,True,False,True,False,UNKNOWN,N

In [29]:
results[5]

                City  Data Source  Year  Emissions Peak Status  Peak year
0              Amman            1  1990          0     UNKNOWN          0
1              Amman            1  1991          0     UNKNOWN          0
2              Amman            1  1992          0     UNKNOWN          0
3              Amman            1  1993          0     UNKNOWN          0
4              Amman            1  1994          0     UNKNOWN          0
5              Amman            1  1995          0     UNKNOWN          0
6              Amman            1  1996          0     UNKNOWN          0
7              Amman            1  1997          0     UNKNOWN          0
8              Amman            1  1998          0     UNKNOWN          0
9              Amman            1  1999          0     UNKNOWN          0
10             Amman            1  2000          0     UNKNOWN          0
11             Amman            1  2001          0     UNKNOWN          0
12             Amman            1  2002          0     UNKNOWN          0
13             Amman            1  2003          0     UNKNOWN          0
14             Amman            1  2004          0     UNKNOWN          0
15             Amman            1  2005          0     UNKNOWN          0
16             Amman            1  2006          0     UNKNOWN          0
17             Amman            1  2007          0     UNKNOWN          0
18             Amman            1  2008          0     UNKNOWN          0
19             Amman            1  2009          0     UNKNOWN          0
20             Amman            1  2010          0     UNKNOWN          0
21             Amman            1  2011          0     UNKNOWN          0
22             Amman            1  2012          0     UNKNOWN          0
23             Amman            1  2013          0     UNKNOWN          0
24             Amman            1  2014    7431422     UNKNOWN          0
25             Amman            1  2015          0     UNKNOWN          0
26             Amman            1  2016    8015906     UNKNOWN          0
27             Amman            1  2017          0     UNKNOWN          0
28         Amsterdam            2  1990    3011000     UNKNOWN          0
29         Amsterdam            2  1991          0     UNKNOWN          0
30         Amsterdam            2  1992          0     UNKNOWN          0
31         Amsterdam            2  1993          0     UNKNOWN          0
32         Amsterdam            2  1994          0     UNKNOWN          0
33         Amsterdam            2  1995          0     UNKNOWN          0
34         Amsterdam            2  1996          0     UNKNOWN          0
35         Amsterdam            2  1997          0     UNKNOWN          0
36         Amsterdam            2  1998          0     UNKNOWN          0
37         Amsterdam            2  1999          0     UNKNOWN          0
38         Amsterdam            2  2000          0     UNKNOWN          0
39         Amsterdam            2  2001          0     UNKNOWN          0
40         Amsterdam            2  2002          0     UNKNOWN          0
41         Amsterdam            2  2003          0     UNKNOWN          0
42         Amsterdam            2  2004          0     UNKNOWN          0
43         Amsterdam            2  2005          0     UNKNOWN          0
44         Amsterdam            2  2006          0     UNKNOWN          0
45         Amsterdam            2  2007          0     UNKNOWN          0
46         Amsterdam            2  2008    4008518     UNKNOWN          0
47         Amsterdam            2  2009    4045686     UNKNOWN          0
48         Amsterdam            2  2010    4026047     UNKNOWN          0
49         Amsterdam            2  2011    3979708     UNKNOWN          0
50         Amsterdam            2  2012    4072819     UNKNOWN          0
51         Amsterdam            2  2013    4044060     UNKNOWN          0
52         Amsterdam            2  2014    4015035     UNKNOWN          0
53         Amsterdam            2  2015    4136792     UNKNOWN          0
54         Amsterdam            2  2016    3948153     UNKNOWN          0
55         Amsterdam            2  2017    3932562     UNKNOWN          0
56            Athens            1  1990          0     UNKNOWN          0
57            Athens            1  1991          0     UNKNOWN          0
58            Athens            1  1992          0     UNKNOWN          0
59            Athens            1  1993          0     UNKNOWN          0
60            Athens            1  1994          0     UNKNOWN          0
61            Athens            1  1995          0     UNKNOWN          0
62            Athens            1  1996          0     UNKNOWN          0
63            Athens            1  1997          0     UNKNOWN          0
64            Athens            1  1998          0     UNKNOWN          0
65            Athens            1  1999          0     UNKNOWN          0
66            Athens            1  2000          0     UNKNOWN          0
67            Athens            1  2001          0     UNKNOWN          0
68            Athens            1  2002          0     UNKNOWN          0
69            Athens            1  2003          0     UNKNOWN          0
70            Athens            1  2004          0     UNKNOWN          0
71            Athens            1  2005          0     UNKNOWN          0
72            Athens            1  2006          0     UNKNOWN          0
73            Athens            1  2007          0     UNKNOWN          0
74            Athens            1  2008          0     UNKNOWN          0
75            Athens            1  2009          0     UNKNOWN          0
76            Athens            1  2010          0     UNKNOWN          0
77            Athens            1  2011          0     UNKNOWN          0
78            Athens            1  2012          0     UNKNOWN          0
79            Athens            1  2013          0     UNKNOWN          0
80            Athens            1  2014    5066334     UNKNOWN          0
81            Athens            1  2015    5054790     UNKNOWN          0
82            Athens            1  2016    4391579     UNKNOWN          0
83            Athens            1  2017          0     UNKNOWN          0
84          Auckland            1  1990    5643291     UNKNOWN          0
85          Auckland            1  1991          0     UNKNOWN          0
86          Auckland            1  1992          0     UNKNOWN          0
87          Auckland            1  1993          0     UNKNOWN          0
88          Auckland            1  1994          0     UNKNOWN          0
89          Auckland            1  1995          0     UNKNOWN          0
90          Auckland            1  1996          0     UNKNOWN          0
91          Auckland            1  1997          0     UNKNOWN          0
92          Auckland            1  1998          0     UNKNOWN          0
93          Auckland            1  1999          0     UNKNOWN          0
94          Auckland            1  2000          0     UNKNOWN          0
95          Auckland            1  2001          0     UNKNOWN          0
96          Auckland            1  2002          0     UNKNOWN          0
97          Auckland            1  2003          0     UNKNOWN          0
98          Auckland            1  2004          0     UNKNOWN          0
99          Auckland            1  2005          0     UNKNOWN          0
100         Auckland            1  2006          0     UNKNOWN          0
101         Auckland            1  2007          0     UNKNOWN          0
102         Auckland            1  2008          0     UNKNOWN          0
103         Auckland            1  2009    7551989     UNKNOWN          0
104         Auckland            1  2010    7396110     UNKNOWN          0
105         Auckland            1  2011    7176723     UNKNOWN          0
106         Auckland            1  2012    7739018     UNKNOWN          0
107         Auckland            1  2013    7703362     UNKNOWN          0
108         Auckland            1  2014    7581652     UNKNOWN          0
109         Auckland            1  2015    7750281     UNKNOWN          0
110         Auckland            1  2016          0     UNKNOWN          0
111         Auckland            1  2017          0     UNKNOWN          0
112           Austin            5  1990          0     UNKNOWN          0
113           Austin            5  1991          0     UNKNOWN          0
114           Austin            5  1992          0     UNKNOWN          0
115           Austin            5  1993          0     UNKNOWN          0
116           Austin            5  1994          0     UNKNOWN          0
117           Austin            5  1995          0     UNKNOWN          0
118           Austin            5  1996          0     UNKNOWN          0
119           Austin            5  1997          0     UNKNOWN          0
120           Austin            5  1998          0     UNKNOWN          0
121           Austin            5  1999          0     UNKNOWN          0
122           Austin            5  2000          0     UNKNOWN          0
123           Austin            5  2001          0     UNKNOWN          0
124           Austin            5  2002          0     UNKNOWN          0
125           Austin            5  2003          0     UNKNOWN          0
126           Austin            5  2004          0     UNKNOWN          0
127           Austin            5  2005          0     UNKNOWN          0
128           Austin            5  2006          0     UNKNOWN          0
129           Austin            5  2007   13037962     UNKNOWN          0
130           Austin            5  2008          0     UNKNOWN          0
131           Austin            5  2009          0     UNKNOWN          0
132           Austin            5  2010   14050168     UNKNOWN          0
133           Austin            5  2011          0     UNKNOWN          0
134           Austin            5  2012          0     UNKNOWN          0
135           Austin            5  2013   13739417     UNKNOWN          0
136           Austin            5  2014          0     UNKNOWN          0
137           Austin            5  2015          0     UNKNOWN          0
138           Austin            5  2016          0     UNKNOWN          0
139           Austin            5  2017          0     UNKNOWN          0
140          Bangkok            2  1990          0     UNKNOWN          0
141          Bangkok            2  1991          0     UNKNOWN          0
142          Bangkok            2  1992          0     UNKNOWN          0
143          Bangkok            2  1993          0     UNKNOWN          0
144          Bangkok            2  1994          0     UNKNOWN          0
145          Bangkok            2  1995          0     UNKNOWN          0
146          Bangkok            2  1996          0     UNKNOWN          0
147          Bangkok            2  1997          0     UNKNOWN          0
148          Bangkok            2  1998          0     UNKNOWN          0
149          Bangkok            2  1999          0     UNKNOWN          0
150          Bangkok            2  2000          0     UNKNOWN          0
151          Bangkok            2  2001          0     UNKNOWN          0
152          Bangkok            2  2002          0     UNKNOWN          0
153          Bangkok            2  2003          0     UNKNOWN          0
154          Bangkok            2  2004          0     UNKNOWN          0
155          Bangkok            2  2005          0     UNKNOWN          0
156          Bangkok            2  2006          0     UNKNOWN          0
157          Bangkok            2  2007   42650000     UNKNOWN          0
158          Bangkok            2  2008          0     UNKNOWN          0
159          Bangkok            2  2009          0     UNKNOWN          0
160          Bangkok            2  2010          0     UNKNOWN          0
161          Bangkok            2  2011          0     UNKNOWN          0
162          Bangkok            2  2012          0     UNKNOWN          0
163          Bangkok            2  2013   43870000     UNKNOWN          0
164          Bangkok            2  2014          0     UNKNOWN          0
165          Bangkok            2  2015          0     UNKNOWN          0
166          Bangkok            2  2016          0     UNKNOWN          0
167          Bangkok            2  2017          0     UNKNOWN          0
168        Barcelona            5  1990          0     UNKNOWN          0
169        Barcelona            5  1991          0     UNKNOWN          0
170        Barcelona            5  1992          0     UNKNOWN          0
171        Barcelona            5  1993          0     UNKNOWN          0
172        Barcelona            5  1994          0     UNKNOWN          0
173        Barcelona            5  1995          0     UNKNOWN          0
174        Barcelona            5  1996          0     UNKNOWN          0
175        Barcelona            5  1997          0     UNKNOWN          0
176        Barcelona            5  1998          0     UNKNOWN          0
177        Barcelona            5  1999          0     UNKNOWN          0
178        Barcelona            5  2000          0     UNKNOWN          0
179        Barcelona            5  2001          0     UNKNOWN          0
180        Barcelona            5  2002          0     UNKNOWN          0
181        Barcelona            5  2003          0     UNKNOWN          0
182        Barcelona            5  2004          0     UNKNOWN          0
183        Barcelona            5  2005          0     UNKNOWN          0
184        Barcelona            5  2006          0     UNKNOWN          0
185        Barcelona            5  2007          0     UNKNOWN          0
186        Barcelona            5  2008    4053766     UNKNOWN          0
187        Barcelona            5  2009          0     UNKNOWN          0
188        Barcelona            5  2010    3894980     UNKNOWN          0
189        Barcelona            5  2011          0     UNKNOWN          0
190        Barcelona            5  2012          0     UNKNOWN          0
191        Barcelona            5  2013    3107591     UNKNOWN          0
192        Barcelona            5  2014    3329110     UNKNOWN          0
193        Barcelona            5  2015  999999999     UNKNOWN          0
194        Barcelona            5  2016          0     UNKNOWN          0
195        Barcelona            5  2017          0     UNKNOWN          0
196           Berlin            6  1990   29215000      PEAKED          0
197           Berlin            6  1991   29546000      PEAKED          1
198           Berlin            6  1992   26497000      PEAKED          0
199           Berlin            6  1993   27982000      PEAKED          0
200           Berlin            6  1994   26878000      PEAKED          0
201           Berlin            6  1995   25653000      PEAKED          0
202           Berlin            6  1996   26091000      PEAKED          0
203           Berlin            6  1997   25486000      PEAKED          0
204           Berlin            6  1998   24143000      PEAKED          0
205           Berlin            6  1999   25702000      PEAKED          0
206           Berlin            6  2000   25217000      PEAKED          0
207           Berlin            6  2001   25235000      PEAKED          0
208           Berlin            6  2002   23571000      PEAKED          0
209           Berlin            6  2003   26987000      PEAKED          0
210           Berlin            6  2004   23577000      PEAKED          0
211           Berlin            6  2005   22179000      PEAKED          0
212           Berlin            6  2006   22406000      PEAKED          0
213           Berlin            6  2007   20117000      PEAKED          0
214           Berlin            6  2008   20776000      PEAKED          0
215           Berlin            6  2009   20114000      PEAKED          0
216           Berlin            6  2010   22417000      PEAKED          0
217           Berlin            6  2011   20648000      PEAKED          0
218           Berlin            6  2012   20848000      PEAKED          0
219           Berlin            6  2013   21396000      PEAKED          0
220           Berlin            6  2014   20134000      PEAKED          0
221           Berlin            6  2015   19479000      PEAKED          0
222           Berlin            6  2016          0      PEAKED          0
223           Berlin            6  2017          0      PEAKED          0
224           Bogotá            2  1990          0     UNKNOWN          0
225           Bogotá            2  1991          0     UNKNOWN          0
226           Bogotá            2  1992          0     UNKNOWN          0
227           Bogotá            2  1993          0     UNKNOWN          0
228           Bogotá            2  1994          0     UNKNOWN          0
229           Bogotá            2  1995          0     UNKNOWN          0
230           Bogotá            2  1996          0     UNKNOWN          0
231           Bogotá            2  1997          0     UNKNOWN          0
232           Bogotá            2  1998          0     UNKNOWN          0
233           Bogotá            2  1999          0     UNKNOWN          0
234           Bogotá            2  2000          0     UNKNOWN          0
235           Bogotá            2  2001          0     UNKNOWN          0
236           Bogotá            2  2002          0     UNKNOWN          0
237           Bogotá            2  2003          0     UNKNOWN          0
238           Bogotá            2  2004          0     UNKNOWN          0
239           Bogotá            2  2005          0     UNKNOWN          0
240           Bogotá            2  2006          0     UNKNOWN          0
241           Bogotá            2  2007          0     UNKNOWN          0
242           Bogotá            2  2008   16279278     UNKNOWN          0
243           Bogotá            2  2009          0     UNKNOWN          0
244           Bogotá            2  2010          0     UNKNOWN          0
245           Bogotá            2  2011   15921690     UNKNOWN          0
246           Bogotá            2  2012   15757162     UNKNOWN          0
247           Bogotá            2  2013   16077577     UNKNOWN          0
248           Bogotá            2  2014   13217521     UNKNOWN          0
249           Bogotá            2  2015   12359324     UNKNOWN          0
250           Bogotá            2  2016   17672009     UNKNOWN          0
251           Bogotá            2  2017          0     UNKNOWN          0
252           Boston            1  1990          0      PEAKED          0
253           Boston            1  1991          0      PEAKED          0
254           Boston            1  1992          0      PEAKED          0
255           Boston            1  1993          0      PEAKED          0
256           Boston            1  1994          0      PEAKED          0
257           Boston            1  1995          0      PEAKED          0
258           Boston            1  1996          0      PEAKED          0
259           Boston            1  1997          0      PEAKED          0
260           Boston            1  1998          0      PEAKED          0
261           Boston            1  1999          0      PEAKED          0
262           Boston            1  2000          0      PEAKED          0
263           Boston            1  2001          0      PEAKED          0
264           Boston            1  2002          0      PEAKED          0
265           Boston            1  2003          0      PEAKED          0
266           Boston            1  2004          0      PEAKED          0
267           Boston            1  2005    7370738      PEAKED          1
268           Boston            1  2006    6699238      PEAKED          0

In [30]:
# def record_cities_that_have_peaked(df):
#     df = df[df['Use for dashboard?'] == 'Y']
#     df = df[df['Peak Status'] == 'PEAKED']
#     cities = list(df['City'].drop_duplicates())
    
#     f = open('/Users/oliverwills/desktop/output.txt', 'r+')
#     previous_cities = simplejson.load(f)
#     f.truncate(0)
#     simplejson.dump(cities, f)
#     f.close()
    
#     cities_to_recently_peak = []

#     for city in cities:
#         if city not in previous_cities:
#             cities_to_recently_peak.append(city)
    
#     if len(cities_to_recently_peak) == 0:
        
#         def send_email(cities_to_recently_peak):
#             msg = MIMEMultipart()
#             msg['Subject'] = 'Our family reunion'
#             me = 'owills@c40.org'
#             family = 'owills@c40.org'
#             msg['From'] = me
#             msg['To'] = family
#             msg.preamble = 'Our family reunion'
            
#         send_email(cities_to_recently_peak)
    
#     return cities_to_recently_peak
        
# cities = record_cities_that_have_peaked(results[4])
# cities